
.order-result .group-info label{
	padding:10px 0;
	width:30%;
}
.order-result .mui-bar{
	background-color: #fff;
	box-shadow:none;
}
.order-result .mui-bar .mui-title{
	color: #000000;
}
.order-result .mui-checkbox input[type=checkbox]:checked:before, .mui-radio input[type=radio]:checked:before{
	color:#3DB391 ;
}
.order-result .shoot-number{
	margin: 0.2rem 0;
}
.order-result .cut{
	background-color: #fff;
}
.order-result .mui-input-row{
	padding: 0 0.2rem;
}
.order-result .save-btn{
	float: right;
	color: #fff;
	line-height: 12px;
	height: 24px;
	width: 40px;
	text-align: center;
	padding: 0;
	margin: 0;
	background-color: #3EB392;
}
.order-result .add-printsNum{
	background-color: #3DB391;
	color: #FFF;
	margin: 0.2rem 0;
	border: none;
	widows: 2.2rem;
	height: 0.68rem;
}
.order-result .add-size{
	height: 80px;
	display:flex;
	justify-content: center;
	align-items: center;
}
.order-result .add-size-btn{
	height: 40px;
	border: none;
	background-color: #3DB391;
	color: #fff;
}
.order-result .remark-box{
	height:100px;
	padding: 0.2rem;
}
.order-result .group-info input{
	width:50%;
}
.order-result .givenumber{
	position: relative;
}
.order-result .give-number .select-size{
	display: inline-block;
	padding:10px 0;
	height:100%;
}
.order-result .give-number .select-number{
	width:65%!important;
	padding: 10px 0;
}
.give-number .size-text{
	line-height: 40px;
	color: #aaa;
}
.give-number .select {
	display: inline-block;
	width: 100%;
	position: relative;
}
.give-number .select .select-size{
	width:29%;
}
.give-number .select-size-icon{
	font-size: 0.2rem;
	position: absolute;
	top: 0.25rem;
	left:0.85rem;
}
.give-number .add-num{
	position:absolute;
	right:0.15rem;
	top:0.15rem;
	color: #97c1e1;
}
.order-result .remark label{
	width:20%;
	padding:10px 0;
}
.order-result .remark{
	height: 3rem;
}
.order-result .remark-text{
	height:100%;
	border: 1px solid #FDE3E4;
	border-radius: 0.1rem;;
	background-color: #FEFDF6;
}
.login-btn-box{
	width: 100%;
	text-align: center;
	margin-top:0.4rem;
}
.login-pass-btn{
	width: 80%;
	border-radius: 20px;
	background-color: #ff3064;
	color: #fff;
	height:0.77rem;

}


.btnDv 	{
	text-align: center;
	line-height: 12px!important;
	height: 24px!important;
	width: 40px!important;
	padding: 0!important;
	margin: 7px 0 7px 10px;
	color: #fff;
	float: right;
	background-color: #3EB392;
}

/*修改按钮样式*/
.order-result .add-printsNum{
	background-color: #3DB391;
	color: #FFF;
	margin: 0.2rem 0;
	border: none;
	widows: 2.2rem;
	height: 0.68rem;
}

/*修改盒子样式*/
.amendBox{
	position: fixed;
	left: 0;
	top: 44px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	border-top: 1px solid #a0a0a0; 
}
.amendBox .amendInfo {
	position: absolute;
	top: 45%;
	left: 10%;
	background-color: #fff;
	width: 80%;
	padding: 0.2rem 0;
	transform: translateY(-50%)
}
.amendBox h4{
	text-align: center;
	padding:0.2rem 0;
	font-size: 0.3rem;
}
.amendBox .overtime{
	color: #ee6e6c;
	font-size: 0.26rem;
	padding-left: 0.3rem; 
}
.amendBox .actualAmend{
	background-color: #F2F2F2;
	padding-left: 0.3rem;
}
.actualAmend p{
	padding: 0.3rem 0; 
	font-size: 0.26rem;
	color: #000;
	margin-bottom: 0;
}
.amendBox label{
	color: #000!important;
	font-size: 0.26rem!important;
}
.amendBox .mui-input-row {
	background-color: #F2F2F2;
	border:none;
}
.amendBox .select-amend{
    background-color: #fff;
    text-indent: 1em;
}
.amendBox .btn1{
   float: left;
   margin-left: 1rem;
}
.amendBox .amendBtn {
	/* padding: 0.2rem 0; */
	overflow: hidden;
}
.amendBox .btn2{
   float: right;
   margin-right: 1rem;
}
.amendBox .mui-input-group:after,.amendBox .mui-input-group:before{
	background-color: #F2F2F2!important;
}

.grayBtn{
	background-color: gray;
	border:none;
}
.amendFl{
	float: left!important;
}

[v-cloak] {
        display: none;  }


/*未输出*/