.box-warp{background: #fff}
.box-warp .header-str p{
	text-align: center;
	line-height: 0.9rem;
	font-size:0.3rem;
	border-bottom:1px solid #d5d5d5;
	margin-bottom: 0
}
.style-spans{
	padding:0.2rem;
	padding-top: 0.3rem;
	text-align: center;
}
.style-inputs {
	padding:0 0.2rem;
}
.style-spans span{
	display: block;
	height:0.9rem;
	border:1px solid #d9d9d9;
	border-right: none;
	position: relative;
	background: #fff
}
.style-inputs input{
	display: block;
	height:0.9rem;
	text-align: center;
	border:none;
	background: transparent;
	width:1rem;
	float: left;
}
.style-spans span.num6-span{
	border-right: 1px solid #d9d9d9;
	border-radius:0 0.1rem 0.1rem 0
}
.style-spans span.num1-span{
	border-radius:0.1rem 0  0 0.1rem 
}
.buttonList{
	width:33.333333333%;
	height:0.9rem;
	text-align: center;
	border: 1px solid #ddd;
	float:left;
	padding-top: 0.15rem;
	border-right: 0;
	
}
.buttonList p{
	font-weight: bold;
	font-size: 0.26rem
}
.buttonList span{
  font-size:0.2rem;
}
.buttonList:last-child{
	background: #b8bbc0;
	padding-top: 0.1rem
}
.buttonList:nth-child(10),.buttonList:nth-child(11){
	padding-top: 0;
}
.buttonList:nth-child(10) span,.buttonList:nth-child(11) p{
	
	line-height: 0.9rem;
	font-size:0.3rem;
}
.passwordButtons {margin-top: 0.5rem}
.erro{color: #fa1f14;}
.dialog-box{
	position: absolute;width:60%;height:1rem;background:#E3BF1F;text-align: center;
	padding:0.2rem;top:20%;left:20%;border-radius: 0.05rem;color:#fff;
	font-size: 0.14rem;font-weight: bold;
}
.dialog-box p{line-height: 0.3rem;height:0.3rem;}
.zz{position: fixed;width:100%;height:100%;background: rgba(0,0,0,.2);top:0;left:0;}
