#order-pay-header {
  background-color: #fff;
  color: #333; }
  #order-pay-header .mui-title, #order-pay-header .mui-action-back {
    color: #333 !important; }
.order-pay-header{
  background-color: #fff;
  border-top: 1px solid rgb(238, 238, 238);
  padding: 15px;
}
p{
  margin: 0;
}
.order-pay-header > p{
  color: #999999;
  font-size: 14px;
}
.bgwhite{
  background-color: #fff;
}
.pay-content{
  padding-left: 15px;
  padding-bottom: 10px;
  margin-top: 10px;
  box-sizing: border-box;
}
.price-container{
  height: 68px;
  line-height: 68px;
  border-bottom: 1px solid rgb(238, 238, 238);
}
.price-container::after{
  content: '';
  display: block;
  clear: both;
}
.price-container .price{
  float: left;
  color: #F66C70;
  font-size: 15px;
  font-weight: bold;
}
.price-container .price span{
  font-size: 22px;
}
.price-container button{
  float: right;
  position: relative;
  top: 17px;
  right: 15px;
  color:#3DB391!important;
  border-color: #3DB391!important;
}
.price-container button:active{
  color:#3DB391!important;
  border-color: #3CB391!important;
  background-color: #fff!important;
}
.pay-content .type{
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
}
#app .pay-content .type .title{
  margin-bottom: 0;
}
.pay-content .radio-box{
  display: inline-block;
  margin-top: 10px;
  margin-right: 5px;
}
.pay-content .radio-box label{
  position: relative;
  display: inline-block;
  padding: 5px 15px;
  color: #999;
  font-size: 14px;
}
.pay-content .radio-box label span{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  border: 1px solid #cccccc;
  border-radius: 3px;
}
.pay-content .radio-box label img{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 16px;
  display: none;
}
.pay-content .radio-box label input:checked + img{
  display: block;
}
.pay-content .radio-box label input:checked ~ span{
  border-color:#F66C70;
}
.pay-content input[type="radio"]{
  display: none;
}
.order-pay-content .nums{
  padding-left: 15px;
  margin-top: 10px;
  color: #333;
}
.order-pay-content .nums .order-pay-list-key{
  padding-left: 0;
  height: 100%;
  line-height: 30px;
}
.order-pay-content .nums .order-pay-list-value{
  height: 100%;
}
.order-pay-content .nums .mui-input-row{
  height: 54px;
  line-height: 54px;
}
.order-pay-content .nums .mui-input-row:first-child{
  border-bottom: 1px solid rgb(238, 238, 238);
}
.nums input{
  color: #999;
  text-align: right;
  font-size: 14px;
}
#app{
  background-color: #f2f2f2;
}
#app .title{
  color:#333;
  font-size: 17px;
  margin-bottom: 10px;
}
.order-pay-paying{
  margin-top: 10px;
}
.order-pay-paying>p{
  padding:5px 0 5px 15px;
}
.mui-table-view::before,.mui-table-view::after,.mui-table-view-cell::after{
  content: none;
}
.mui-table-view{
  display: flex;
}
.mui-table-view-cell{
  flex: 1;
}
.mui-table-view-cell img{
  display: block;
  margin: 0 auto;
  max-width: 35px;
}
.mui-table-view-cell p{
  text-align: center;
  font-size: 16px;
  color:#666;
  margin-top: 5px;
}
.order-pay-clear {
  clear: both;
  overflow: hidden; }
.price-dialog-content{
  width: 300px;
  height: 190px;
  margin-top: -125px;
  margin-left: -150px;
  top: 50%;
  left: 50%;
  background: #fff;
  position: fixed;
  z-index: 999999;
  overflow: hidden;
  border-radius: 10px;
}
.price-dialog-title{
  padding: 10px 15px;
  font-size: 17px;
  color: #333;
}
.price-dialog-main{
  background-color: #F9F9F9;
  margin:5px 15px 15px 15px;
  padding: 5px 0 15px;
}
.input-title{
  padding:0 15px;
  color:#333;
}
.input{
  border-bottom: 1px solid #F2F2F4;
  height: 50px;
  line-height: 50px;
}
.input span{
  color:#333;
  padding-left: 15px;
  font-weight: bold;
}
.input input{
  display: inline-block!important;
  border:none;
  color:#979797;
  font-size: 22px;
  background-color: #F9F9F9;
  margin:0;
  width: 235px;
  padding-left:0;
  height: 49px;
}
.price-dialog-foot{
  height: 38px;
  border-top: 1px solid #CFCFCF;
}
.price-dialog-foot button{
  float: left;
  width: 50%;
  height: 38px;
  border:none;
}
.price-dialog-foot button:active{
  background-color: #fff;
}
.price-dialog-foot button:first-child{
  color:#BEBEBE;
}
.price-dialog-foot button:last-child{
  color:#3DB391;
  position: relative;
}
.price-dialog-foot button:last-child::before{
  content:'';
  position: absolute;
  left:0;
  top:0;
  width: 1px;
  height: 100%;
  background-color: #E7E7E7;
}
.order-pay-dialog {
  width: 300px;
  height: 400px;
  margin-top: -200px;
  margin-left: -150px;
  top: 50%;
  left: 50%;
  background: #fff;
  position: fixed;
  z-index: 999999;
  overflow: hidden;
  border-radius: 10px; }
  .order-pay-dialog .order-pay-dialog-header {
    padding:0 15px;
    height: 50px;
    line-height: 50px;
    background-color: #F7F7F7;
    color: #333;
    text-align: center;}
    .order-pay-dialog .order-pay-dialog-header > p {
      margin-left: 5px;
      color: #333;
      font-size: 18px;
      font-weight: normal; }
    .order-pay-dialog .order-pay-dialog-header img{
      max-width: 18px;
      position: relative;
      top: -1px;
      vertical-align: middle;
    }
  .order-pay-dialog .order-pay-dialog-qrcode {
    padding-top: 30px;
    text-align: center; }
    .order-pay-dialog .order-pay-dialog-qrcode .qrcode-img {
      margin: 50px auto 0;
      width: 200px;
      height: 200px; }
.order-pay-dialog .order-pay-dialog-qrcode h2 small{
  font-size: 16px;
}
.order-pay-generate {
  position: fixed;
  bottom: 0;
  background: #fff;
  width: 100%;
  padding: 10px; }
  .order-pay-generate .mui-btn-block {
    background-color: #3eb392;
    color: #fff;
    border: none;
    margin-bottom: 0; }

.empty-tips {
  text-align: center;
  color: #bbb; }

.pay-status-paying {
  display: inline-block;
  padding: 2px 5px;
  border-radius: 20px;
  display: inline-block;
  background: #ff7039;
  color: #fff;
  font-size: 14px; }

.pay-status-paid {
  display: inline-block;
  padding: 2px 5px;
  border-radius: 20px;
  display: inline-block;
  background: #30d3a4;
  color: #fff;
  font-size: 14px; }

/*# sourceMappingURL=order-pay.css.map */
