#order-pay-header {
    .mui-title, .mui-action-back {
        color: #333 !important;
    }

    background-color: #fff;
    color: #333;
}

.order-pay-content {
    .order-pay-paying,.order-pay-paid {
        margin-top: 20px;
    }

    &.order-pay-list {
        margin-bottom: 100px;
    }

    .mui-table-view {
        margin-bottom: 20px;
    }
    .order-pay-avatar {
        width: 60px;
        height: 60px;
    }
    .order-pay-list-key {
        color: #666;
    }
    .order-pay-list-value {
        color: #bbb;
    }
    .mui-btn-block {
        background-color: #3db391;
        color: #fff;
        border: none;
    }

    .order-pay-cell-title {
        margin: 20px 0
    }

    i {
        font-style: normal;
    }

    ::placeholder {
        color: #bbb;
    }
    
    .pay-icon {
        width: 20px;
        height: 20px;
        vertical-align: top;
    }

    .order-pay-card {
        overflow: hidden;
        border-radius: 10px;
        margin-bottom: 10px;

        .order-pay-card-header {
            overflow: hidden;
            background-color: #3db391;
            color: #fff;
            padding: 10px;
        }

        .order-pay-card-content {
            padding: 10px;
            background-color: #fff;
            color: #333;
            
            p {
                font-size: 16px;
            }
        }
    }
}

.order-pay-clear {
    clear: both;
    overflow: hidden;
}

.order-pay-dialog {
    width: 300px;
    height: 400px;
    margin-top: -200px;
    margin-left: -150px;
    top: 50%;
    left: 50%;
    background: #fff;
    position: fixed;
    z-index: 999999;
    overflow: hidden;
    border-radius: 10px;

    .order-pay-dialog-header {
        height: 100px;
        background-color: #3eb392;
        color: #fff;
        text-align: center;
        padding-top: 25px;

        & > h2 {
            margin: 0;
            padding: 0;
            font-size: 24px;
            font-weight: normal;
        }

        & > p {
            margin-top: 5px;
            color: #fff;
            font-size: 18px;
            font-weight: normal;
        }
    }

    .order-pay-dialog-qrcode {
        text-align: center;

        .qrcode-img {
            margin: 50px auto 0;
            width: 200px;
            height: 200px;
        }
    }
}

.order-pay-generate {
    position: fixed;
    bottom: 0;
    background: #fff;
    width: 100%;
    padding: 10px;

    .mui-btn-block {
        background-color: #3eb392;
        color: #fff;
        border: none;
        margin-bottom: 0;
    }
}

.empty-tips {
    text-align: center;
    color: #bbb;
}

.pay-status-paying {
    display: inline-block;
    padding: 2px 5px;
    border-radius: 20px;
    display: inline-block;
    background: #ff7039;
    color: #fff;
    font-size: 14px;
}

.pay-status-paid {
    display: inline-block;
    padding: 2px 5px;
    border-radius: 20px;
    display: inline-block;
    background: #30d3a4;
    color: #fff;
    font-size: 14px;
}