<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="../../assets/css/mui.min.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/app.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/css/sale-detail/saledetail.css" />
    <link rel="stylesheet" href="../../assets/css/common/common.css" />
</head>

<body>
    <div id="app">
        <header class="mui-bar mui-bar-nav">
            <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
            <h1 class="mui-title">销售明细</h1>
        </header>
        <footer class="mui-bar mui-bar-footer">
            <div>销售金额： <span class="orange">￥<span v-text="totalSaleAmount"></span></span>元</div>
            <div>购买人数： <span v-text="totalSalePersonnelNum"></span>人 &nbsp; 销售张数： <span v-text="totalSaleNum"></span>张</div>
        </footer>
        <main class="mui-content">
            <section class="container">
                <ul class="title list-unstyle">
                    <li>人数</li>
                    <li>张数</li>
                    <li>支付方式</li>
                    <li>金额</li>
                </ul>
                <div id="scroll-wrap">
                    <div id="scroll1">
                        <ul class="content list-unstyle">
                            <li v-for="item in orderList" :key="item">
                                <div>{{item.salePersonnelNum || "未填"}}</div>
                                <div><span v-text="item.nums"></span>张</div>
                                <div>
                                    <span v-if="item.channelId ==1"><img src="../../assets/css/images/sell_wechat.png" alt="">微信</span>
                                    <span v-if="item.channelId ==2"><img src="../../assets/css/images/sell_alipay.png" alt="">支付宝</span>
                                    <span v-if="item.channelId ==3"><img src="../../assets/css/images/sell_cash.png" alt="">现金</span>
                                    <span v-if="item.channelId ==4">核销支付</span>
                                </div>
                                <div><span v-text="item.totalAmount"></span>元</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </main>
        </div>
        <script src="../../assets/js/mui.min.js"></script>
        <script src="../../assets/js/mui.pullToRefresh.js"></script>
        <script src="../../assets/js/mui.pullToRefresh.material.js"></script>
        <script src="../../assets/js/framework/define.js"></script>
        <script src="../../assets/js/framework/styles.js"></script>
        <script src="../../assets/js/framework/lf.js"></script>
        <script src="../../assets/js/framework/common.js"></script>
        <script src="../../assets/libs/vue.min.js"></script>
</body>

</html>