.mui-control-content {
  margin-top: 10px;
}

.mui-bar {
  background-color: #fff;
}

.mui-title {
  color: #000000;
}

.mui-table-view-chevron .mui-table-view-cell {
  padding-right: 0;
  border-radius: 12px;
}

.mui-table-view {
  margin-bottom: 10px;
}

.shoot-table {
  margin-bottom: 10px;
  border-radius: 12px;
  width: 96%;
  margin: 10px auto;
}

.mui-table-view:before {
  background-color: #fff;
}

.mui-table-view:after {
  background-color: #fff;
}

.addshootinfo {
  color: #3db391;
  font-size: 14px;
  width: 96%;
  margin: 0 auto;
  border-radius: 12px;
  border: none;
}

.titleOperat {
  color: #3DB391;
  position: absolute;
  right: 24px;
  line-height: 44px;
}

.show-on-right {
  position: absolute;
  right: 15px;
  width: 130px;
}

.show-on-right a {
  text-decoration: none;
  margin-right: 31px;
  color: #A4A4A4;
}

.show-on-right .forinput {
  margin-left: 10px;
  border: 1px solid #fff;
  text-align: right;
  height: 14px;
  font-size: 14px;
  color: #A4A4A4;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mui-icon-arrowright {
  position: absolute;
  right: 10px;
  font-size: 21px;
  line-height: 1.1;
}

.remark {
  height: 3rem !important;
  margin-top: 10px;
}

.remark .remarkTitle {
  line-height: 1.1;
  padding: 11px 15px;
  margin-bottom: 0;
}

.remark .remark-text {
  width: 95% !important;
  margin: 0 auto;
  display: block;
  background: #F6F6F6;
  font-size: 15px;
  color: #8B8B8B;
}

.superscript {
  height: 45px;
  background: #fff;
  overflow: inherit;
  padding: 0;
}

.superscript .superscript-img {
  width: 45px;
  height: 100%;
  float: left;
}

.superscript .superscript-img img {
  width: 100%;
  height: 100%;
}

.superscript .superscript-num {
  color: #fff;
  position: absolute;
  left: 9px;
  top: 3px;
}

.superscript .superscript-xx {
  float: right;
  width: 50px;
  height: 100%;
  position: relative;
}

.superscript .superscript-xx img {
  width: 50%;
  height: 50%;
  display: inline-block;
  position: absolute;
  top: 28%;
  left: 26%;
}


/*新增样式*/
#item1 .dayFl {
  float: left!important;
  position: relative!important;
  height: 21px;
  overflow: hidden;
}
#item1 .r10 {
  margin-left: -20px;
} 


/*修改按钮样式*/
.order-result .add-printsNum{
  background-color: #3DB391;
  color: #FFF;
  margin: 0.2rem 0;
  border: none;
  widows: 2.2rem;
  height: 0.68rem;
}

/*修改盒子样式*/
.amendBox{
  position: fixed;
  left: 0;
  top: 44px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  border-top: 1px solid #a0a0a0; 
}
.amendBox .amendInfo {
  background-color: #fff;
  width: 80%;
  padding: 0.2rem 0;
  margin: 0 auto;
  margin-top: 25%;
}
.amendBox h4{
  text-align: center;
  padding:0.2rem 0;
  font-size: 0.3rem;
  color: #000;
}
.amendBox .overtime{
  color: #ee6e6c;
  font-size: 0.26rem;
  padding-left: 0.3rem; 
}
.amendBox .actualAmend{
  background-color: #F2F2F2;
  padding: 0 0.2rem 0.3rem 0.3rem;
}
.actualAmend p{
  padding: 0.3rem 0; 
  font-size: 0.26rem;
  color: #000;
  margin-bottom: 0;
}
.amendBox label{
  color: #000!important;
  font-size: 0.26rem!important;
  padding-left: 0;
}
.amendBox .mui-input-row {
  background-color: #F2F2F2;
  border:none;
}
.amendBox .select-amend{
    background-color: #fff;
    text-indent: 1em;
    font-size: 0.26rem;
}
.amendBox .btn1{
   float: left;
   margin-left: 1rem;
}
.amendBox .amendBtn {
  padding: 0.2rem 0;
  overflow: hidden;
}
.amendBox .btn2{
   float: right;
   margin-right: 1rem;
}
.amendBox .mui-input-group:after,.amendBox .mui-input-group:before{
  background-color: #F2F2F2!important;
}

.grayBtn{
  color: gray!important;
}
.reasonS {
  height: 60px!important;
}
.reasonS textarea{
  padding-left: 0;
  background-color: #fff;
}
#slider .btnDv {
  position: absolute;
  right: 24px;
  height: 21px; 
  padding: 0;
  border: none;
  color: #3DB391;
  font-size: 15px;
}
.amendBox textarea{
  font-size: 0.26rem;
  text-indent: 1em;
}

[v-cloak] {
    display: none;  
}