<!DOCTYPE html>
<!--cwj-->
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="../../css/mui.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/app.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/statistics/daily-paper.css"/>
    <link rel="stylesheet" href="../../css/common/common.css"/>
    <style>
        html,
        body {
            background-color: #efeff4;
        }

        .version {
            text-align: center
        }
    </style>
    <script src="../../js/framework/common.js"></script>
</head>

<body class="statistics-daily-paper">
<div class="mui-off-canvas-wrap mui-draggable orderlist-content-box" id="app">
    <!--侧滑菜单部分-->
    <aside id="offCanvasSide" class="mui-off-canvas-left">
        <div id="offCanvasSideScroll" class="mui-scroll-wrapper">
            <div class="mui-scroll">
                <div class="offCanvasSide-header">
                    <img src="../../css/images/logo_login.png" alt="" class="offCanvasSide-header-avatar">
                    <p class="offCanvasSide-header-name">{{username}}</p>
                </div>

                <form class="offCanvasSide-role-wrap mui-input-group">
                    <div class="mui-input-row mui-radio mui-left" v-for="item in rolePositionList">
                        <label>{{item.name}}</label>
                        <input type="radio" v-bind:value="item.id" v-model="rolePositionId">
                    </div>
                </form>

                <div class="offCanvasSide-logout">
                    <button type="button" id="logout" class="mui-btn mui-btn-block">退出登录</button>
                </div>

                <p class="version">v{{wgtVer}}</p>
            </div>
        </div>
    </aside>

    <div class="mui-inner-wrap" style="background:#efeff4">
        <header class="mui-bar mui-bar-nav" style="background:#fff;">
            <a href="#offCanvasSide" style="color:#333"
               class="mui-icon mui-action-menu mui-icon-bars mui-pull-left"></a>
            <h1 class="mui-title" style="color: #333;">日报</h1>
            <a id="history" class="mui-icon mui-action-menu mui-pull-right">
                <img src="../../images/order/list_time.png" alt="">
            </a>
            <a id="flow" class="mui-icon mui-action-menu mui-pull-right">
                <img src="../../images/order/list_number.png" alt="">
            </a>
            <a id="income" class="mui-icon mui-action-menu mui-pull-right">
                <img src="../../images/order/list_day.png" alt="">
            </a>
        </header>
        <div class="mui-scroll-wrapper mui-content">
            <div class="mui-scroll">
                <div class="daily-content">
                    日报
                </div>
            </div>
        </div>
        <div class="mui-off-canvas-backdrop"></div>
    </div>
</div>
<script src="../../js/mui.min.js"></script>
<script src="../../js/mui.picker.min.js"></script>
<script src="../../js/mui.poppicker.js"></script>
<script src="../../js/mui.pullToRefresh.js"></script>
<script src="../../js/mui.pullToRefresh.material.js"></script>
<script src="../../js/framework/define.js"></script>
<script src="../../js/framework/styles.js"></script>
<script src="../../js/framework/lf.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../libs/vue-echarts.js"></script>
<script src="../../update.js"></script>
<script src="daily-paper.js"></script>
</body>

</html>