.result-login-container{
	padding: 0.2rem;
}
.give-number .select-size{
	display: inline-block;
	width: 100%;
	height:100%;
	border-right:1px solid rgba(0,0,0,.2);
	border-left:1px solid rgba(0,0,0,.2);
}
.result-login-container .mui-input-group label {
	padding:  0.22rem 0!important;
}
.give-number .select-number{
	width:40%!important;
	padding-left: 0.2rem;
}
.give-number .size-text{
	line-height: 40px;
	color: #aaa;
}
.give-number .select {
	display: inline-block;
	width: 20%;
	position: relative;
}
.give-number .size-icon{
	font-size: 0.2rem;
	position: absolute;
	top: 0.25rem;
	right:0.1rem;
}
.add-detail-box{
	position: relative;
	margin-top: 0.3rem;
}
.result-login-container .add-detail-icon{
	position:absolute;
	top: 0.28rem;
	left: 1.9rem;
	color: #97c1e1;
	font-size: 0.3rem;
}
.result-login-container .mui-icon-minus{
	color: red;
	font-size:0.3rem;
}
.table-box{
	width: 100%;
	margin-bottom: 0.5rem;
}
.table-box tr th{
	width:20%;
	height:0.8rem;
	background-color: #ccc;
	font-size: 0.3rem;
}
.table-box tr td{
	height:0.6rem;
	font-size:0.24rem;
	text-align: center;
}
.login-btn-box{
	margin-top:0.2rem;
	width: 100%;
	text-align: center;
}
.login-pass-btn{
	margin-top:0.5rem;
	width: 80%;
	border-radius: 20px;
	background-color: #ff3064;
	color: #fff;
	height:0.77rem;

}