<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
	<title>vue.js stude</title>
	<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/vue.css">
	<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>
 	<!--引进本地vue文件-->
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/home.js"></script>
	<script type="text/javascript" src="js/demo1.js"></script>
</head>
<body>
	<div id="app">
		<calculator></calculator>
	</div>
	<template id="tel">
		<div class="box-warp">
			<!-- 头部 -->
			<div class="header-str">
				<p>输入密码</p>
			</div>
			<!-- 密码框 -->
			<div class="passwordinput" style="position: relative;">
				<!-- 样式层 -->
				<div class="style-spans flex" style="position: relative;">
					<span class="box-flex num1-span"></span>
					<span v-for="n in 4" class="box-flex"></span>
					<span class="box-flex num6-span"></span>
				</div>
				<!-- 密码输入框 -->
				<div style="position: absolute;width:100%;top:0.30rem;z-index: 1111;">
					<div class="style-inputs">
						<input type="password"  v-for="(item, index) in inputContent" value="1" >
					</div>
				</div>
			</div>
			<!-- 软键盘 -->
			<div class="passwordButtons ">
				<ul class='clearfix'>
					<li v-for="(item,index) in nums" class="buttonList"
					@click="sent(index)">
						<p>{{item.n1}}</p>
						<span>{{item.stand}}</span>
						<img src="img/delete.png" v-if="item.img">
					</li>
				</ul>
			</div>
		</div>
	</template>
</body>
<script type="text/javascript">
	var vm = new Vue({
		el :"#app",
	})
</script>
</html>
