.mt15{
    margin-top:15px;
}
.pr20{
    padding-right: 20px;
}
.gray1{
    color:#BBBBBB;
}
.f14{
    font-size:14px;
}

.quikorder-header{

}

.quikorder-footer{
    height: 54px;
    padding-left:15px;
    padding-right: 15px;
    button{
        width:100%;
        background: #3EB393;
        border:1px solid #3EB393;
        padding:10px 12px 10px!important;
    }
}

.quikorder-content{
    .mui-table-view-cell{
        padding:14px 15px;
    }
    
    input{
        margin-right: 15px;
        border:none;
        text-align: right;
        font-size:16px;
        padding-right:5px;
        color:#9A9A9A;
    }
    input[type=color], input[type=date], 
    input[type=datetime-local], input[type=datetime], 
    input[type=email], input[type=month], 
    input[type=number], input[type=password], 
    input[type=search], input[type=tel], 
    input[type=text], input[type=time], 
    input[type=url], input[type=week], 
    select, textarea{
        line-height:normal!important;
        width:inherit!important;
        height: unset!important;
        margin-bottom:unset!important;
        padding:0 5px 0 0!important;
    }
}


