.header-right-btn {
  line-height: 40px;
  padding: 0 10px;
  color: #FFFFFF;
}

.chooseuser-content .search {
  height: 35px;
}

.chooseuser-content .search input {
  padding-left: 30px;
  padding-right: 30px;
}

.chooseuser-content .search .mui-icon-search {
  position: absolute;
  top: 7px;
  right: 5px;
}

.chooseuser-content .search .mui-icon-clear {
  top: 7px;
  right: 20px;
}

.plancamera-content .mui-table .title {
  border-right: 1px solid #EEEEEE;
}

.plancamera-content .mui-table .persons {
  padding-left: 10px;
}

.plancamera-content .mui-table .persons span {
  margin-right: 10px;
}

.plancamera-content .mui-table .add {
  color: #009DD9;
}
