.header-right-btn{
    line-height: 40px;
    padding: 0 10px;
    color: #FFFFFF;
}
.chooseuser-content{
    .search{
        height: 35px;
        input{
            padding-left: 30px;
            padding-right: 30px;
        }
        .mui-icon-search{
            position: absolute;
            top: 7px;
            right: 5px;
        }
        .mui-icon-clear{
            top: 7px;
            right: 25px;
        }
    }
}
.plancamera-content{
    
    .mui-table{
        .title{
            border-right: 1px solid #EEEEEE;
        }
        .persons{
            padding-left: 10px;
            span{
                margin-right: 10px;
                
            }
        }
        .add{
            color: #009DD9;        
        }
    }
}
