<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<title>订单详情</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link href="../../assets/css/mui.min.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/mui.picker.min.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/mui.poppicker.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/app.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/order/orderdetails.css" />
</head>

<body class="orderdetails">

	<div id="app" class="mui-content" style="margin-bottom:40px">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">{{$t('order_detail')}}</h1>
			<!-- <a v-if="currentOrderStatus!=3&&currentRoleId == 4" id="menu" style="color: #191919;" class="mui-action-menu mui-icon  mui-pull-right mui-icon-more"
			 href="#topPopover"></a> -->
		</header>

		<div class="topbar">
			<!--actionStatus 0待处理 1 已完成计调  2 已分配摄影师  3 已完成拍照  4 已完成输出-->
			<div v-show='orderInfo.actionStatus == 0' class="mod">
				<span class="ico status1"></span>
				<div class="title">{{$t('active_status.operating')}}</div>
				<div class="intro" v-text="orderInfo.msgRemark"></div>
				<span class="mui-icon mui-icon-arrowright"></span>
			</div>
			<div v-show='orderInfo.actionStatus == 11' class="mod">
				<span class="ico status2"></span>
				<div class="title">{{$t('active_status.assigning')}}</div>
				<div class="intro" v-text="orderInfo.msgRemark"></div>
				<span class="mui-icon mui-icon-arrowright"></span>
			</div>
			<div v-show='orderInfo.actionStatus == 22' class="mod">
				<span class="ico status3"></span>
				<div class="title">{{$t('active_status.outputting')}}</div>
				<div class="intro" v-text="orderInfo.msgRemark"></div>
				<span class="mui-icon mui-icon-arrowright"></span>
			</div>
			<div v-show='orderInfo.actionStatus == 33' class="mod">
				<span class="ico status4"></span>
				<div class="title">{{$t('active_status.selling')}}</div>
				<div class="intro" v-text="orderInfo.msgRemark"></div>
				<span class="mui-icon mui-icon-arrowright"></span>
			</div>
			<div v-show='orderInfo.actionStatus == 44' class="mod">
				<span class="ico status4"></span>
				<div class="title">{{$t('active_status.completing')}}</div>
				<div class="intro" v-text="orderInfo.msgRemark"></div>
				<span class="mui-icon mui-icon-arrowright"></span>
			</div>
			<div v-show='orderInfo.actionStatus == 55' class="mod">
				<span class="ico status5"></span>
				<div class="title">{{$t('active_status.service_complete')}}</div>
				<div class="intro" v-text="orderInfo.msgRemark"></div>
				<span class="mui-icon mui-icon-arrowright"></span>
			</div>
		</div>

		<div style="margin-bottom: 0.2rem;">
			<div id="segmentedControl" class="mui-segmented-control">
				<a class="mui-control-item" :class="{'mui-active':currentTabIndex == 1}" href="#item1">{{$t('order_information')}}</a>
				<a class="mui-control-item" :class="{'mui-active':currentTabIndex == 2}" href="#item2">{{$t('operating_information')}}</a>
				<a class="mui-control-item" :class="{'mui-active':currentTabIndex == 3}" href="#item3">{{$t('outputting_information')}}</a>
			</div>
		</div>
		<div>
			<div id="item1" class="mui-control-content" :class="{'mui-active':currentTabIndex == 1}">
				<div id="scroll" class="mui-scroll-wrapper" style="overflow: visible;">
					<div class="mui-scroll" style="background: #fff; padding: 0.2rem;">
						<div class="item colorgray">
							<label>{{$t('order_no')}}：</label>
							<span v-text="orderInfo.orderNo"></span>
						</div>
						<div class="item" style="margin: 0.3rem 0;">
							<div v-text="orderInfo.productName"></div>
						</div>
						<div class="sepline"></div>
						<div class="item colorgray">
							<label>{{$t('order_time')}}：</label>
							<span v-text="orderInfo.createTime"></span>
						</div>
						<div class="item colorgray">
							<label>{{$t('purchase_organization')}}：</label>
							<span v-text="orderInfo.purchaser"></span>
						</div>
						<div class="sepline"></div>
						<div class="item" style="font-size: 0.4rem;">
							<label>{{$t('total_price')}}：</label>
							<span v-text="orderInfo.totalPrice"></span>{{$t('cost_suffix')}}
						</div>
					</div>
				</div>
			</div>
			<div id="item2" class="mui-control-content" :class="{'mui-active':currentTabIndex == 2}">
				<div class="orderaction" style="background: #fff; padding: 0.2rem;">
					<div class="item assignOrder">
						{{$t('role.operator')}}
						<span v-if="currentRoleId == 4" class="mui-icon mui-icon-arrowright" style="float: right;"></span>
						<div v-if="!orderTrackInfo.assignNames" class="name">{{$t('select_operator')}}</div>
						<div v-if="orderTrackInfo.assignNames != ''" class="name assign-name" v-text="orderTrackInfo.assignNames"></div>
					</div>
					<div class="sepline"></div>
					<div class="item allotPhotoOrder">
						{{$t('role.photographer')}}
						<span v-if="currentRoleId == 5" class="mui-icon mui-icon-arrowright" style="float: right;"></span>
						<div v-if="assignedPhotographersString == ''" class="name">{{$t('select_photographer')}}</div>
						<div v-if="assignedPhotographersString != ''" class="name assign-name" v-text="assignedPhotographersString"></div>
					</div>
				</div>

				<div class="mui-card">
					<div class="mui-card-header jidiao" :data-type='0' :data-status="1">
						<span class="border-left">{{$t('group_information')}}</span>
						<span v-if="(currentRoleId ==4||currentRoleId==2) && orderInfo.actionStatus!=55" class="mui-icon mui-icon-arrowright"></span>
					</div>
					<div class="mui-card-content">
						<div class="mui-card-content-inner">
							<div class="item">
								<label>{{$t('district')}}：</label>
								<span v-text="orderTrackInfo.areaName"></span>
							</div>
							<div class="item">
								<label>{{$t('group_name')}}：</label>
								<span v-text="orderTrackInfo.lineName"></span>
							</div>
							<div class="item">
								<label>{{$t('group_character')}}：</label>
								<span v-text="orderTrackInfo.groupType"></span>
							</div>
							<div class="item">
								<label>{{$t('order_source')}}：</label>
								<span v-text="orderTrackInfo.source == 1? '门户订单':'快速下单'"></span>
							</div>
							<div class="item">
								<label>{{$t('presell_character')}}：</label>
								<span v-text="orderTrackInfo.isPreTour"></span>
							</div>
							<div class="item">
								<label>{{$t('presell_unit_price')}}：</label>
								<span v-text="orderTrackInfo.prePrice"></span>元
							</div>
							<div class="item">
								<label>{{$t('participates_number')}}：</label>
								<span v-text="orderTrackInfo.personCount"></span>人
							</div>
							<div class="item">
								<label>{{$t('tour_guide')}}：</label>
								<span v-text="orderInfo.tourGuide"></span>
								<a v-for="tp in tourGuidePhoneList" :href="'tel:'+tp" style="float:right; color: #FF8080; margin-left: 0.1rem;">
										<span class="tel-ico"></span>
										<span v-text="tp"></span>
									</a>

							</div>

						</div>
					</div>
				</div>

				<div class="mui-card">
					<div class="mui-card-header jidiao" :data-type='1' :data-status="1">
						<span class="border-left">{{$t('journey_information')}}</span>
						<span v-if="(currentRoleId ==4||currentRoleId==2) && orderInfo.actionStatus!=55" class="mui-icon mui-icon-arrowright"></span>
					</div>
					<div class="mui-card-content">
						<div class="mui-card-content-inner">
							<div class="item">
								<label>{{$t('launch_date')}}：</label>
								<span v-text="groupDate"></span>
							</div>
							<div class="item">
								<label>{{$t('journey_days')}}：</label>
								<span v-text="orderTrackInfo.groupDays"></span>
							</div>
							<div class="item">
								<label>{{$t('sales_time')}}：</label>
								<span v-text="orderTrackInfo.fetchPhotoTime"></span>
							</div>
							<div class="item">
								<label>{{$t('selling_address')}}：</label>
								<span v-text="orderTrackInfo.fetchPhotoScene"></span>
							</div>
							<div class="item">
								<label>{{$t('number_reservation')}}：</label>
								<span v-text="orderTrackInfo.preReservedSeats"></span>
							</div>
							<div class="item">
								<label>{{$t('license_plate_number')}}：</label>
								<span v-text="orderTrackInfo.busCardNo"></span>
							</div>
							<div class="sepline"></div>
							<div class="detail">
								{{$t('journey_detail')}}
								<button type="button" class="mui-btn view-detail">{{$t('view')}}</button>
							</div>

						</div>
					</div>
					<div class="remark">
						<div>{{$t('remarks')}}</div>
						<div v-text="orderTrackInfo.exeRemark"></div>
					</div>
				</div>

				<div class="mui-card">
					<div class="mui-card-header jidiao" :data-type='2' :data-status="1">
						<span class="border-left">{{$t('photographic_information')}}</span>
						<span v-if="(currentRoleId ==4||currentRoleId==2||currentRoleId==5) && orderInfo.actionStatus!=55" class="mui-icon mui-icon-arrowright"></span>
					</div>
					<div class="mui-card-content">
						<div class="mui-card-content-inner shootinfo">
							<div class="item" v-for="(item,index ) in orderTrackInfo.lineSight">
								<span class="ico-index" v-text="item.index"></span>
								<div style="padding-left: 0.4rem;">
									<div><span style="margin-right: 0.1rem;" v-text="item.shootTime"></span>
										<span v-if="item.periodType == 0">{{$t('all')}}</span>
										<span v-if="item.periodType == 1">{{$t('morning')}}</span>
										<span v-if="item.periodType == 2">{{$t('afternoon')}}</span>
										<span v-if="item.periodType == 3">{{$t('night')}}</span>
										<span style="margin-left: 0.1rem;" v-text="item.remark"></span></div>
									<div v-text="item.journeyName"></div>
									<div>{{$t('role.photographer')}}：<span v-text="item.photographer"></span></div>
								</div>
							</div>

						</div>
					</div>
				</div>

			</div>
			<div id="item3" class="mui-control-content" :class="{'mui-active':currentTabIndex == 3}">
				<div class="mui-card">
					<div class="mui-card-header outOrder" style="padding: 0.2rem;">
						<span class="border-left">{{$t('outputting_information')}}</span>
						<span v-if="((currentRoleId==5||currentRoleId==4)&&(orderInfo.actionStatus==33||orderInfo.actionStatus==44)) || (currentRoleId==8 &&(orderInfo.actionStatus==33||orderInfo.actionStatus==44||orderInfo.actionStatus==22))"
						 class="mui-icon mui-icon-arrowright"></span>
					</div>
					<div class="mui-card-content">
						<div v-if="orderResult.isOut ==1">
							<div style="padding: 0.2rem;">
								<div class="item">
									<label>{{$t('number_Actual_participates')}}：</label>
									<span v-text="orderResult.serverPerNum"></span>
								</div>
								<div class="item">
									<label>{{$t('number_upload')}}：</label>
									<span v-text="orderResult.shootNum"></span>
								</div>
								<!-- <div class="item">
									<label>拍摄张数：</label>
									<span v-text="orderResult.shootNum"></span>
								</div> -->
								<!-- <div class="item">
									<label>选片张数：</label>
									<span v-text="orderResult.selectsNum"></span>
								</div> -->
								<div class="item">
									<label>{{$t('number_prints')}}：</label>
									<div class="print" v-for="item in orderResult.printOrderXms">
										<div><span class="ico-dot"></span>
											<span v-text="item.picSizeName"></span>
											<span v-text="item.picNum"></span>张
										</div>
									</div>
								</div>
								<div class="item">
									<label>{{$t('remarks')}}：</label>
									<div style="text-indent:2em;" v-text="orderResult.saleRemark"></div>
								</div>
							</div>
						</div>
						<!--未输出-->
						<div v-if="orderResult.isOut ==2" style="padding: 0.2rem;">
							<div>{{$t('without_output')}}</div>
							<div>{{$t('reason')}}</div>
							<div v-text="orderResult.noOutReason"></div>
							<label>{{$t('remarks')}}：</label>
							<div style="text-indent:2em;" v-text="orderResult.saleRemark"></div>
						</div>

					</div>

				</div>
				<div class="mui-card" style="margin-bottom: 0;">
					<div class="mui-card-header" id="order-pay-list-btn" :data-orderid="orderInfo.orderId" style="padding: 0.2rem;">
						<span class="border-left">{{$t('sales_order')}}</span>
						<span v-if="currentRoleId==9 && (orderInfo.actionStatus==44||orderInfo.actionStatus==33)" class="mui-icon mui-icon-arrowright"></span>
					</div>
				</div>
				<div class="mui-card">
					<div class="mui-card-header saleOutOrder" :data-id="currentOrderId" style="padding: 0.2rem;">
						<span class="border-left">{{$t('sales_information')}}</span>
						<span v-if="(currentRoleId==9 && (orderInfo.actionStatus==44||orderInfo.actionStatus==33)) || (currentRoleId==4 && orderInfo.actionStatus==44)"
						 class="mui-icon mui-icon-arrowright"></span>
					</div>
					<div class="mui-card-content" style="padding: 0.2rem;">
						<div class="item">
							<label>{{$t('number_complimentary')}}：</label>
							<div v-if="isShowGivePhotos">
								<div class="print" v-for="item in orderResult.giveOrderXms" v-if="item.picNum>0">
									<div>
										<span class="ico-dot"></span>
										<span v-text="item.picSizeName"></span>
										<span v-text="item.picNum || 0"></span>张
										<span v-text="item.remark"></span>张
									</div>
								</div>
							</div>
							<span v-else style="color:#ccc;">{{$t('node_giving_away')}}</span>
						</div>
						<div class="item">
							<label>{{$t('number_sold')}}：</label>
							<div class="print" v-for="item in orderResult.salesOrderXms">
								<div><span class="ico-dot"></span>
									<span v-text="item.picSizeName"></span>
									<span v-text="item.picNum || 0"></span>张
									<span v-text="item.remark"></span>
								</div>
							</div>
						</div>
						<div class="item">
							<label>{{$t('buy_number_purchaser')}}：</label>
							<span v-text="orderResult.buyers"></span>
						</div>
						<div class="item">
							<label>{{$t('real_time_sales')}}：</label>
							<span v-text="orderResult.salesAmt"></span>{{$t('cost_suffix')}}
						</div>
						<div class="item">
							<label>{{$t('presell_sales')}}：</label>
							<span v-text="orderResult.advanceAmount"></span>{{$t('cost_suffix')}}
						</div>
						<div class="item">
							<label>{{$t('receivable_sales')}}：</label>
							<span v-text="orderResult.payableAmount"></span>{{$t('cost_suffix')}}
						</div>
						<div class="item">
							<label>{{$t('total_amount')}}：</label>
							<span v-text="getTotal"></span>{{$t('cost_suffix')}}
						</div>
					</div>

				</div>
				<div class="mui-card">
					<div class="mui-card-header summary" style="padding: 0.2rem;">
						<span class="border-left">{{$t('photographic_notes')}}</span>
						<span v-if="currentRoleId==3&&(orderInfo.actionStatus!=0&&orderInfo.actionStatus!=11)" class="mui-icon mui-icon-arrowright"></span>
					</div>
					<div class="mui-card-content mind" style="padding: 0.2rem;">
						<div class="item summary-item" v-for="item in photographerData" :data-userId="item.userId" :data-photographerId="item.photographerId">
							<div class="name"><span v-text="item.photographerName"></span><span class="ico-pic"></span></div>
							<div v-text="item.summary">
							</div>
							<div class="sepline"></div>
						</div>
						<div class="loadmore" v-if="photographerInfos.length!=photographerData.length">
							{{$t('view')}}
						</div>
					</div>

				</div>
			</div>

		</div>

		<!--执行主管  计调 指派-->
		<!--执行人  计调 -->
		<!--摄影主管  修改拍摄信息  分配 -->
		<!--填写输出信息   -->
		<!--销售  生成销售  -->
		<!--摄影师  录入心得  -->
		<!--
				计调主管 4 可指派 可计调
				执行人 2 可计调
				摄影主管 5 可分配
				摄影师 3 可录入心得
				输出 8 可填写输出信息
				销售  9 可生成销售 可销售输出
			-->
		<div v-if="currentOrderStatus!=3" class="buttons">
			<!--计调主管-->
			<div v-if="currentRoleId==4">
				<div v-if="assignOrder&&orderInfo.actionStatus!=44&&orderInfo.actionStatus!=55">
					<button class="mui-button colordark assignOrder" :data-no="currentOrderNo">{{$t('action_btns.assign')}}</button>
					<button class="mui-button colorlight jidiao" :data-type="0" :data-no="currentOrderNo">{{$t('action_btns.operate')}}</button>
				</div>
				<div v-if="confirmOrder&&orderInfo.actionStatus==44">
					<button class="mui-button colordark" :data-no="currentOrderNo" id="confirmComplete">{{$t('action_btns.confirm_complete')}}</button>
				</div>
			</div>
			<!--执行人-->
			<div v-if="currentRoleId==2">
				<div v-if="assignOrder&&orderInfo.actionStatus!=55">
					<button class="mui-button colorlight jidiao" :data-type="0" :data-no="currentOrderNo">{{$t('action_btns.operate')}}</button>
				</div>
			</div>
			<!--摄影主管-->
			<div v-if="currentRoleId==5">
				<div v-if="allotPhotoOrder&&orderInfo.actionStatus!=0&&orderInfo.actionStatus!=55">
					<button class="mui-button colorlight allotPhotoOrder" :data-no="currentOrderNo">{{$t('action_btns.assign_photographer')}}</button>
				</div>
			</div>
			<!--摄影师-->
			<div v-if="currentRoleId==3">
				<div v-if="summary&&orderInfo.actionStatus!=0&&orderInfo.actionStatus!=11">
					<button class="mui-button colorlight summary" :data-no="currentOrderNo">{{$t('add_notes')}}</button>
				</div>
			</div>
			<!--输出-->
			<div v-if="currentRoleId==8">
				<div v-if="outOrder&&orderInfo.actionStatus==22||orderInfo.actionStatus==33||orderInfo.actionStatus==44">
					<button class="mui-button colorlight outOrder" :data-no="currentOrderNo">{{$t('action_btns.output')}}</button>
				</div>
			</div>
			<!--销售-->
			<div v-if="currentRoleId==9">
				<div>
					<button :data-no="currentOrderNo" v-if="genSale&&orderInfo.actionStatus==33" :data-id="orderInfo.orderId" :data-no="currentOrderNo"
					 class="mui-button colorlight genSale">{{$t('action_btns.sell')}}</button>
					<button :data-no="currentOrderNo" v-if="saleOutOrder&&orderInfo.actionStatus==33" class="mui-button colorlight saleOutOrder">{{$t('action_btns.sell_output')}}</button>
					<button :data-no="currentOrderNo" v-if="orderInfo.actionStatus==33" class="mui-button colorlight" id="saleComplete">{{$t('action_btns.sell_complete')}}</button>

					<button :data-no="currentOrderNo" v-if="saleOutOrder&&orderInfo.actionStatus==44" class="mui-button colorlight saleOutOrder">{{$t('action_btns.sell_output')}}</button>
				</div>
			</div>

		</div>

		<div v-show="maskShow" class="mask"></div>
		<div v-show='orderdetailShow' class="dialog-detail">
			<div class="hd">
				{{$t('journey_detail')}}
			</div>
			<div class="cnt" v-html="orderTrackInfo.groupRoute">

			</div>
			<div class="close">
				{{$t('ok')}}
			</div>
		</div>
		<div id="topPopover" class="mui-popover" style="width: 1.6rem;">
			<div class="mui-popover-arrow"></div>
			<div class="" style="width: 1.6rem;">
				<button style="width: 1.6rem;" class="mui-button cancle">{{$t('cancel_order')}}</button>
			</div>
		</div>

		<script src="../../assets/js/mui.min.js"></script>
		<script src="../../assets/js/mui.picker.min.js"></script>
		<script src="../../assets/js/framework/define.js"></script>
		<script src="../../assets/js/framework/styles.js"></script>
		<script src="../../assets/js/framework/lf.js"></script>
		<script src="../../assets/js/framework/common.js"></script>
		<script src="../../assets/libs/vue.min.js"></script>
		<script src="../../assets/libs/vue-i18n.js"></script>
		<script src="../../assets/i18n/language.js"></script>
</body>

</html>