<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="../../assets/css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../../assets/css/app.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/order/quicksaledetails.css" />
		<link rel="stylesheet" href="../../assets/css/common/common.css" />
		<style>
			.sale-list {
				overflow: hidden;
			}
			.sale-list .label{
				float: left;
			}
			.sale-list .list-wrap{
				float: left;
			}
			.sale-list .list-wrap .size-wrap {
				display: inline-block;
				width: 1rem;
				text-align: right;
				padding-right: 0.1rem;
			}
		</style>
    </head>
    <body>
        <div id="app">
			<header class="mui-bar mui-bar-nav">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h1 class="mui-title">{{$t('order_detail')}}</h1>
				<!-- <a id="menu" v-if="actionStatus<=33" style="color: #191919;" class="mui-action-menu mui-icon  mui-pull-right mui-icon-more" href="#topPopover"></a> -->
			</header>
			<footer class="mui-bar mui-bar-footer">
			<!-- 新增服务完成功能 -->
		<!-- 	<button id='confirmBtn' type="button" class="mui-btn mui-btn-blue mui-btn-outlined serve-bth" @click="serveFinish" :disabled="isDisable" :class="{isGray:isDisable}">服务完成</button> -->
		        <button id='confirmBtn' type="button" class="mui-btn mui-btn-blue mui-btn-outlined serve-bth finish"  :disabled="isDisable" :class="{isGray:isDisable}">{{$t('active_status.service_complete')}}</button>				
		
				<button type="button" class="mui-btn mui-btn-primary genSale serve-bth">{{$t('action_btns.sell')}}</button>
			</footer>
			<main class="mui-content">
				<section class="container">
					<div class="title" v-text="orderInfo.productName"></div>
					<div class="content">
						<ul class="list-unstyle">
							<li>
								<span class="gray">{{$t('tuyi_gourp_no')}}：</span>
								<span v-text="orderInfo.tourNo"></span>
							</li>
							<li>
								<span class="gray">{{$t('selling_address')}}：</span>
								<span v-text="orderTrackInfo.fetchPhotoScene"></span>
							</li>
							<li>
								<span class="gray">{{$t('number_participates')}}：</span>
								<span v-text="orderInfo.personCount"></span>
							</li>
							<li class="clearfix">
								<div class="left">
									<span class="gray">{{$t('tour_guide')}}：</span>
									<span v-text="orderInfo.tourGuide"></span>
								</div>
								<div class="right">
									<a :href="'tel:'+orderInfo.tourGuidePhone" style="display:block; color: #FF8458; margin-left: 0.1rem;">		
										<img src="../../assets/images/order/call_btn.png" alt="">
										<span class="orange" v-text="orderInfo.tourGuidePhone"></span>
									</a>
								</div>
							</li>
						</ul>
					</div>
				</section>
				<section class="container">
					<div class="title clearfix">
						<span class="left border-left">{{$t('sales_information')}}</span>
						<a href="#" class="right modifyBtn">{{$t('modify')}}</a>
					</div>
					<div class="content">
						<ul class="list-unstyle">
							<li>
								<span class="gray">{{$t('anticipated_service_completion_time')}}：</span>
								<span v-text="orderResult.saleDate"></span>
							</li>
							<li class="sale-list">
								<div class="gray label">{{$t('number_sold')}}：</div>
								<div class="list-wrap">
									<div v-if="orderResult.salesOrderXms.length>0" v-for="item in orderResult.salesOrderXms" :key="item">
										<span v-text="item.sizeName" class="size-wrap"></span>
										<span v-text="item.picNum || 0"></span>张 &nbsp;
										<span v-text="item.typeName"></span>
									</div>
								</div>
							</li>
							<li class="sale-list">
								<div class="gray label">{{$t('number_complimentary')}}：</div>
								<div class="list-wrap">
									<div v-if="orderResult.giveOrderXms.length>0" v-for="item in orderResult.giveOrderXms" :key="item">
										<span v-text="item.sizeName" class="size-wrap"></span> 
										<span v-text="item.picNum || 0"></span>张 &nbsp;
										<span v-text="item.typeName"></span>
									</div>
								</div>
							</li>
							<li>
								<span class="gray">{{$t('sale_number_purchaser')}}/{{$t('family')}}：</span>
								<span v-text="orderResult.buyers"></span>
							</li>
							<li>
								<span class="gray">{{$t('estimated_amount')}}：</span>
								<span v-if="orderResult.advanceAmount">￥<span v-text="orderResult.advanceAmount"></span>元</span>
							</li>
							<li>
								<span class="gray">{{$t('amount_receivable')}}：</span>
								<span v-if="orderResult.payableAmount">￥<span v-text="orderResult.payableAmount"></span>元</span>
							</li>
							<li>
								<span class="gray">{{$t('actual_sales_amount')}}：</span>
								<span v-if="orderResult.salesAmt">￥<span v-text="orderResult.salesAmt"></span>元</span>
							</li>
						</ul>
					</div>
					<div class="total clearfix">
						<span class="left gray">{{$t('total_sales')}}</span>
						<span class="orange right">￥{{totalPrice ||0}}元</span>
					</div>
				</section>
				<div class="container">
					<div class="title clearfix border-none" id="order-pay-list-btn" :data-orderid="orderInfo.orderId">
						<span class="left border-left">{{$t('sales_order')}}</span>
						<span class="right mui-icon mui-icon-arrowright"></span>
					</div>
				</div>
				<section class="container">
					<div class="title clearfix border-none sale-detail">
						<span class="left border-left">{{$t('sales_detail')}}</span>
						<span class="right mui-icon mui-icon-arrowright"></a>
					</div>
				</section>
			</main>
			<!-- <div id="topPopover" class="mui-popover">
				<button class="mui-button finish">销售完成</button>
			</div> -->
		</div>
		<script src="../../assets/js/mui.min.js"></script>
		<script src="../../assets/js/framework/define.js"></script>
		<script src="../../assets/js/framework/styles.js"></script>
		<script src="../../assets/js/framework/lf.js"></script>
		<script src="../../assets/js/framework/common.js"></script>
		<script src="../../assets/libs/vue.min.js"></script>
		<script src="../../assets/libs/vue-i18n.js"></script>
		<script src="../../assets/i18n/language.js"></script>
    </body>
</html>