.designate-designate {
  font-size: 0.76rem;
  background-color: #F6F6F6;
}

.designate-designate .btn-designate {
  font-size: 13px;
  padding: 4px 8px;
  background-color: #fff;
  border: 1px solid #3DB291;
  border-radius: 0.4rem;
  color: #3DB291;
}

.designate-designate .btn-designate:enabled:active {
  color: #3DB291;
  border: 1px solid #3DB291;
  background-color: #fff;
}

.designate-designate .item-block {
  background-color: #fff;
  padding: 0 0.9rem;
  margin-top: 0.6rem;
}

.designate-designate .item-block .head-bar {
  position: relative;
  padding: 0.7rem 0 0.3rem;
  border-bottom: 1px solid #f1f1f1;
}

.designate-designate .item-block .head-bar .title {
  padding-left: 0.1rem;
  color: #535353;
  line-height: 2rem;
  font-size: 1rem;
}

.designate-designate .item-block .head-bar .mui-btn {
  position: absolute;
  right: 0.2rem;
}

.designate-designate .item-block .body-main .item {
  position: relative;
  text-align: right;
  padding-bottom: 1.4rem;
}

.designate-designate .item-block .body-main .item:first-child {
  padding-top: 1.7rem;
}

.designate-designate .item-block .body-main .item .text-name {
  color: #333;
  position: absolute;
  left: 0.2rem;
  font-size: 0.86rem;
}

.designate-designate .item-block .body-main .item .text-info {
  color: #999;
}

.designate-designate .item-block .body-main .item .text-info + .text-info {
  margin-left: 0.2rem;
}

.designate-designate .item-block .body-main .empty {
  height: 6rem;
  line-height: 6rem;
  text-align: center;
  color: #B4B4B4;
}
