.designate-designate{
  $primary-bg:#F6F6F6;
  $btn-primary:#3DB291;
  font-size: 0.76rem;
  background-color: $primary-bg;
  .btn-designate{
    font-size: 13px;
    padding: 4px 8px;
    background-color: #fff;
    border: 1px solid $btn-primary;
    border-radius: 0.4rem;
    color: $btn-primary;
    &:enabled:active{
      color: $btn-primary;
      border: 1px solid $btn-primary;
      background-color:#fff;
    }
  }
  .item-block{
    background-color: #fff;
    padding: 0 0.9rem;
    margin-top: 0.6rem;
    .head-bar{
      position: relative;
      padding: 0.7rem 0 0.3rem;
      border-bottom: 1px solid #f1f1f1;
      .title{
        padding-left: 0.1rem;
        color: #535353;
        line-height: 2rem;
        font-size: 1rem;
      }
      .mui-btn{
        position: absolute;
        right: 0.2rem;
      }
    }
    .body-main{
      .item{
        position: relative;
        text-align: right;
        padding-bottom: 1.4rem;
        &:first-child{
          padding-top: 1.7rem;
        }
        .text-name{
          color: #333;
          position: absolute;
          left: 0.2rem;
          font-size: 0.86rem;
        }
        .text-info{
          color: #999;
        }
        .text-info + .text-info{
          margin-left: 0.2rem;
        }
      }
      .empty{
        height: 6rem;
        line-height: 6rem;
        text-align: center;
        color: #B4B4B4;
      }
    }
  }
}