
.order-result .group-info label{
	padding:10px 0;
	width:30%;
}
.order-result .mui-bar{
	background-color: #fff;
	box-shadow:none;
}
.order-result .mui-bar .mui-title{
	color: #000000;
}
.order-result .mui-checkbox input[type=checkbox]:checked:before, .mui-radio input[type=radio]:checked:before{
	color:#3DB391 ;
}
.order-result .shoot-number{
	margin: 0.2rem 0;
}
.order-result .cut{
	background-color: #fff;
}
.order-result .mui-input-row{
	padding: 0 0.2rem;
}
.order-result .save-btn{
	color: #3DB391;
	float: right;
	line-height: 44px;
}
.order-result .add-printsNum{
	background-color: #3DB391;
	color: #FFF;
	margin: 0.2rem 0;
	border: none;
}
.order-result .add-size{
	height: 80px;
	display:flex;
	justify-content: center;
	align-items: center;
}
.order-result .add-size-btn{
	height: 40px;
	border: none;
	background-color: #3DB391;
	color: #fff;
}
.order-result .remark-box{
	height:100px;
	padding: 0.2rem;
}
.order-result .group-info input{
	width:70%;
}
.order-result .givenumber{
	position: relative;
}
.order-result .give-number .select-size{
	display: inline-block;
	padding:10px 0;
	height:100%;
}
.order-result .give-number .select-number{
	width:65%!important;
	padding: 10px 0;
}
.give-number .size-text{
	line-height: 40px;
	color: #aaa;
}
.give-number .select {
	display: inline-block;
	width: 100%;
	position: relative;
}
.give-number .select .select-size{
	width:29%;
}
.give-number .select-size-icon{
	font-size: 0.2rem;
	position: absolute;
	top: 0.25rem;
	left:0.85rem;
}
.give-number .add-num{
	position:absolute;
	right:0.15rem;
	top:0.15rem;
	color: #97c1e1;
}
.order-result .remark label{
	width:20%;
	padding:10px 0;
}
.order-result .remark{
	height: 3rem;
}
.order-result .remark-text{
	height:100%;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 0.1rem;;
}
.login-btn-box{
	width: 100%;
	text-align: center;
	margin-top:0.4rem;
}
.login-pass-btn{
	width: 80%;
	border-radius: 20px;
	background-color: #ff3064;
	color: #fff;
	height:0.77rem;

}




/*未输出*/