.interval{
	margin: 0.2rem 0;
}
.sales-export .group-info label{
	padding:10px 0;
	width:30%;
}
.sales-export .mui-input-row{
	padding: 0 0.2rem;
}
.sales-export .add-salesNum,
.sales-export .add-givesNum{
	background-color: #3DB391;
	color: #FFF;
	margin: 0.2rem 0;
	border: none;
	widows: 2.2rem;
	height: 0.68rem;
}
.sales-export .group-info input{
	width:70%;
}
.sales-export .save-btn{
	color: #3DB391;
	float: right;
	line-height: 44px;
}
.sales-export .givenumber{
	position: relative;
}
.sales-export .give-number .select-size{
	display: inline-block;
	padding:10px 0;
	height:100%;
}
.sales-export .give-number .select-number{
	width:55%!important;
	padding:10px 0;
}
.give-number .size-text{
	line-height: 40px;
	color: #aaa;
}
.give-number .select {
	display: inline-block;
	width: 100%;
	position: relative;
}
.give-number .select .select-size{
	width:29%;
}
.give-number .select-size-icon{
	font-size: 0.2rem;
	position: absolute;
	top: 0.25rem;
	left:0.85rem;
}
.give-number .add-num{
	position:absolute;
	right:0.15rem;
	top:0.15rem;
	color: #97c1e1;
}