@import "./mui-preview";
.summary-details {
  @function calc-rem($px) {
    @return $px/50 + 0rem;
  }
  font-size: calc-rem(38);
  background-color: #fff;
  padding: 0 calc-rem(4);
  .flex-box{
    display:flex;
    flex-flow:row;
    .change{
      flex:1;
    }
  }
  .img-wrap {
    overflow: hidden;
    .pro {
      float: left;
      margin-right: 9px;
      margin-bottom: 9px;
      width: 79px;
      height: 79px;
      background: no-repeat center center;
      background-size: cover;
    }
  }
}