<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../css/login.css" />
		<link rel="stylesheet" type="text/css" href="../css/app.css" />
	</head>

	<body>
		<div id="login" class="mui-content login-container">
			<div class="login-header">
				<div></div>
			</div>	
			<div v-show="type==1">
				<div class="mui-input-row login-input-tel">
					<input type="text" class="mui-input-clear" v-model='account' placeholder="请输入账号">
				</div>
				<div class="mui-input-row login-input-code">
					<input type="password" v-model="passWord" class="mui-input-clear" placeholder="请输入密码">
				</div>
				<div class="login-btn-box"><button type="button"id="accountlogin" class="mui-btn login-pass-btn">登 录</button></div>
				<!--<div class="bottom_text">登录你的旅拍，留下最美瞬间</div>-->
			</div>

			
			</div>
		<script src="../js/framework/common.js"></script>
		<script src="../js/mui.min.js"></script>
		<script src="../js/framework/define.js"></script>
		<script src="../js/framework/styles.js"></script>
		<script src="../js/framework/lf.js"></script>
		<script src="../libs/vue.min.js"></script>
		<script type="text/javascript">
			var vm = new Vue({
				el:'#login',
				data: {
				    code:false,
					tel:'',
					type:0,
                    account:'',
					passWord:''
				}
			});

			lf.ready(function(){
				var loginsign = window.Role.loginsign;
				if(loginsign){
					plus.navigator.closeSplashscreen();
					lf.window.openWindow('order','order/orderlist.html',{},{},lf.window.currentWebview())
				}else{
					var hisAccount = lf.storage.get("LFACCOUNT");
					if(hisAccount){
						vm.account = hisAccount
					}
					vm.type = 1
					plus.navigator.closeSplashscreen();
				}
			})
			
			document.getElementById('accountlogin').addEventListener('tap',function(){
			    if (!vm.account){
                    lf.nativeUI.toast('请输入您的账号');
                    return
				}
				if (!vm.passWord){
			        lf.nativeUI.toast('请输入您的密码')
					return
				}
                var info = plus.push.getClientInfo();
                var params = {
                    phone : vm.account,
                    password: vm.passWord,
                    clientId:info.clientid
				}
                lf.nativeUI.showWaiting();
				lf.net.getJSON('/user/login',params,function (res) {
					lf.nativeUI.closeWaiting();
					if(res.code == 200) {
						console.log(JSON.stringify(res.data));
						if(!res.data.positions || (res.data.positions&&res.data.positions.length <= 0)){
							lf.nativeUI.toast('无效的用户')
							return ;
						}
						lf.storage.put("LFACCOUNT",vm.account);
						var obj = {
							usercode:res.data.id,
							username:res.data.name,
							phone:res.data.phone,
							companyId:res.data.companyId,
							companyId:res.data.companyId,
							userrole:res.data.positions[0].type,
							userroleName: res.data.positions[0].name,
							userroleId: res.data.positions[0].id,
							tonken:res.data.token,
							loginsign: '1',
							auths: res.data.auths,
							positions: res.data.userPositionList,
							photograherId: res.data.photograherId
						}
						window.Role.save(obj)
						lf.window.openWindow('order','order/orderlist.html',{},{},lf.window.currentWebview())
					}else{
						lf.nativeUI.toast(res.msg)
					}
                },function(res){
                	lf.nativeUI.closeWaiting();
                	lf.nativeUI.toast(res.msg)
                })
			})
		</script>
	</body>

</html>