<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../css/login.css" />
		<link rel="stylesheet" type="text/css" href="../css/app.css" />
	</head>

	<body>
		<div id="login" class="mui-content login-container">
			<div class="login-header">
				<div></div>
			</div>	
			<div v-if="type==1">
				<div class="mui-input-row login-input-tel">
					<input type="text" class="mui-input-clear" v-model='account' placeholder="请输入账号">
				</div>
				<div class="mui-input-row login-input-code">
					<input type="password" v-model="passWord" class="mui-input-clear" placeholder="请输入密码">
				</div>
				<!--<div class="login-input-message">未注册手机验证后自动登录</div>-->
				<div class="login-btn-box"><button type="button"id="accountlogin" class="mui-btn login-pass-btn">登 录</button></div>
				<!--<div class="login-check-box">
					<input type="checkbox" checked="checked"/>
					<span>我已阅读并同意“用户协议和隐私条款	”</span>
				</div>-->
				<!--<div id="changelogin" class="login-change-box">-->
					<!--<span class="login-change">账号密码登录</span>-->
				<!--</div>-->
			</div>
			<!--<div v-if="type==1">-->
				<!--<div class="mui-input-row login-input-tel">-->
					<!--<input type="text" class="mui-input-clear" v-model='tel' placeholder="手机号">-->
					<!--<span class="code-line"></span>-->
					<!--<div class="code-btn"><span class="code-btn-text">发送验证码</span></div>-->
				<!--</div>-->
				<!--<div class="mui-input-row login-input-code">-->
					<!--<input type="text" class="mui-input-clear" placeholder="请输入验证码">-->
				<!--</div>-->
				<!--<div class="login-input-message">未注册手机验证后自动登录</div>-->
				<!--<div class="login-btn-box"><button type="button"id="loginPass" class="mui-btn login-pass-btn">进入头条</button></div>-->
				<!--<div class="login-check-box">-->
					<!--<input type="checkbox" checked="checked"  name="" id="" value="" />-->
					<!--<span>我已阅读并同意“用户协议和隐私条款	”</span>-->
				<!--</div>-->
				<!--<div id="changelogin" class="login-change-box">-->
					<!--<span class="login-change">账号密码登录</span>-->
				<!--</div>-->
			<!--</div>-->
			</div>
		<script src="../js/framework/common.js"></script>
		<script src="../js/mui.min.js"></script>
		<script src="../js/framework/define.js"></script>
		<script src="../js/framework/styles.js"></script>
		<script src="../js/framework/lf.js"></script>
		<script src="../libs/vue.min.js"></script>
		<script type="text/javascript">
			var vm = new Vue({
				el:'#login',
				data: {
				    code:false,
					tel:'',
					type:1,
                    account:'',
					passWord:''
				}
			});

//            outSet( "获取客户端推送标识信息：" );
//            outLine("id: "+info.id);
//            outLine( "token: "+info.token );
//
//            outLine( "appid: "+info.appid );
//            outLine( "appkey: "+info.appkey );
			lf.ready(function(){

			})
//			mui('.login-change-box').on('tap','.login-change',function () {
//				vm.type = 0
//            })
//			mui('.login-input-tel').on('tap','.code-btn-text',function () {
//                if(!vm.tel){
//                    lf.nativeUI.toast('请输入您的手机号码');
//                    return
//                }else if(vm.tel.length !== 11){
//                    lf.nativeUI.toast('请输入正确的手机号码');
//                    return
//				}
//                var time = 59;
//                var count = 1;
//			    var btn = document.querySelector('.code-btn-text')
//
//				var timer = setInterval(function () {
//                    btn.innerHTML= time+'秒后重发'
//				    time = time - count
//					if( time <0 ){
//				        btn.innerHTML = '发送验证码'
//						clearInterval(timer)
//					}
//                },1000)
//            })
//			document.getElementById('loginPass').addEventListener('tap',function(){
//			    if(vm.type == 1){
//			        if(!vm.tel){
//                        lf.nativeUI.toast('请输入手机号码');
//                        return
//					}
//                    if(!vm.code){
//                        lf.nativeUI.toast('请输入验证码');
//                        return
//                    }
//				}else{
//
//				}
//				lf.window.openWindow('index','index.html')
//			})
			document.getElementById('accountlogin').addEventListener('tap',function(){
			    if (!vm.account){
                    lf.nativeUI.toast('请输入您的账号');
                    return
				}
				if (!vm.passWord){
			        lf.nativeUI.toast('请输入您的密码')
					return
				}
				lf.window.openWindow('index','index.html')
				return ;
                var info = plus.push.getClientInfo();
                console.log( "clientid: "+info.clientid );
                var params = {
                    phone : vm.account,
                    password: vm.passWord,
                    clientId:info.clientid
				}
				lf.net.getJSON('/user/login',params,function (data) {

					console.log(data)
                })
//				lf.window.openWindow('index','index.html')
			})
		</script>
	</body>

</html>