.mt15 {
    margin-top: 15px;
}

.mb15 {
    margin-bottom: 15px;
}

.pr20 {
    padding-right: 20px;
}

.gray1 {
    color: #BBBBBB;
}

.f14 {
    font-size: 14px;
}

.quikorder-footer {
    height: 54px;
    padding-left: 15px;
    padding-right: 15px;
}

.quikorder-footer button {
    width: 100%;
    background: #3EB393;
    border: 1px solid #3EB393;
    padding: 10px 12px 10px !important;
}

.quikorder-content .mui-table-view-cell {
    padding: 14px 15px;
}

.quikorder-content input {
    margin-right: 15px;
    border: none;
    text-align: right;
    font-size: 16px;
    padding-right: 5px;
    color: #9A9A9A;
}

.quikorder-content input[type=color],
.quikorder-content input[type=date],
.quikorder-content input[type=datetime-local],
.quikorder-content input[type=datetime],
.quikorder-content input[type=email],
.quikorder-content input[type=month],
.quikorder-content input[type=number],
.quikorder-content input[type=password],
.quikorder-content input[type=search],
.quikorder-content input[type=tel],
.quikorder-content input[type=text],
.quikorder-content input[type=time],
.quikorder-content input[type=url],
.quikorder-content input[type=week],
.quikorder-content select,
.quikorder-content textarea {
    line-height: normal !important;
    width: inherit !important;
    height: unset !important;
    margin-bottom: unset !important;
    padding: 0 5px 0 0 !important;
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
}

.print-size,.print-nums{
  border: 1px solid #DDDDDD!important;
  width:100px;
  height:24px;
  border-radius:2px;
}
