<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="../../assets/css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../../assets/css/app.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/market-expansion/expansion-plan.css" />
		<link rel="stylesheet" href="../../assets/css/common/common.css" />
    </head>
    <body>
        <div id="app">
			<header class="mui-bar mui-bar-nav">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" id="back"></a>
				<h1 class="mui-title">填报计划</h1>
				<div class="add-plan">添加</div>
			</header>
			<footer class="mui-bar mui-bar-footer">
				<button type="button" id="save" class="mui-btn mui-btn-primary genSale">保存</button>
			</footer>
			<main class="mui-content">
				<section class="section-1 section-container">
					<div class="block" v-for="(item, index) in planList" :key="index">
						<div class="mui-card">
							<div class="mui-card-header">
								<div>
									<span class="mui-icon mui-icon-flag"></span>
									<span>{{item.planTime | dateFormatter}}</span>
								</div>
							</div>
							<div class="mui-card-content">
								<!-- <div class="mui-input-row sales-type">
									<label class="mui-pull-left">预期销售额：</label>
									<input class="mui-pull-right" type="text" disabled v-model="expectAmount">
								</div> -->
								<div class="mui-input-row sales-size">
									<label class="mui-pull-left">计划销售额：</label>
									<input class="mui-pull-right" type="text" v-model="item.planPreAmount" placeholder="请输入计划销售额" >
								</div>
								<div class="mui-input-row">
									<label class="mui-pull-left">计划流量数：</label>
									<input class="mui-pull-right" type="text" v-model="item.planPreNum" placeholder="请输入计划流量数" >
								</div>
							</div>
						</div>
						<span class="mui-icon mui-icon-close remove-salesNum" v-show="!item.id && index == lastIndex" @tap="removeItem(index)"></span>
					</div>

					<!-- <div class="block" v-for="item in planList">
						<div class="block-date">
							<span class="mui-icon mui-icon-flag"></span>
							<span>{{item.planTime | dateFormatter}}</span>
						</div>
						<form class="mui-input-group">
							<div>
								<div class="mui-input-row color888">
									<label>预期销售额：</label>
									<input type="text" disabled class="mui-input-clear" v-model="expectAmount">
								</div>
								<div class="mui-input-row">
									<label>计划销售额：</label>
									<input type="text" class="mui-input-clear" v-model="item.planPreAmount" placeholder="请输入计划销售额" >
								</div>
							</div>
							<div>
								<div class="mui-input-row">
									<label>计划流量数：</label>
									<input type="text" class="mui-input-clear" v-model="item.planPreNum" placeholder="请输入计划流量数" >
								</div>
							</div>
						</form>
					</div> -->
				</section>
				<section class="section-2">

				</section>
			</main>
		</div>
		<script src="../../assets/js/mui.min.js"></script>
		<script src="../../assets/js/framework/define.js"></script>
		<script src="../../assets/js/framework/styles.js"></script>
		<script src="../../assets/js/framework/lf.js"></script>
		<script src="../../assets/js/framework/common.js"></script>
		<script src="../../assets/libs/vue.min.js"></script>
		
    </body>
</html>