<!DOCTYPE html>
<!--cwj-->
<html>

<head>
    <meta charset="utf-8">
    <title>渠道专员日报</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="../../assets/css/mui.min.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/app.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/css/market-expansion/market-expansion.css" />
    <link rel="stylesheet" href="../../assets/css/common/common.css" />
    <link rel="stylesheet" href="../../assets/css/mui.dtpicker.css">
    <link rel="stylesheet" href="../../assets/css/mui.picker.min.css">
    <style>
        
        .mui-bar-footer{
            height: 54px;
        }
        
        .mui-btn-primary{
            width: 100%;
            background-color: #3eb392;
            border-color:#3eb392;
            padding: 10px 12px 10px !important;
        }

        .mui-bar + main.mui-content {
            padding-bottom: 70px;
        }
        
        .version {
            text-align: center
        }

        [v-cloak] {
            display: none !important;
        }
    </style>
</head>

<body>
    <div class="mui-off-canvas-wrap mui-draggable orderlist-content-box" id="app" v-cloak>
        <!--侧滑菜单部分-->
        <aside id="offCanvasSide" class="mui-off-canvas-left">
            <div id="offCanvasSideScroll" class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <div class="offCanvasSide-header">
                        <img src="../../assets/css/images/logo_login.png" alt="" class="offCanvasSide-header-avatar">
                        <p class="offCanvasSide-header-name">{{username}}</p>
                    </div>

                    <form class="offCanvasSide-role-wrap mui-input-group">
                        <div class="mui-input-row mui-radio mui-left" v-for="item in rolePositionList">
                            <label>{{item.name}}</label>
                            <input type="radio" v-bind:value="item.id" v-model="rolePositionId">
                        </div>
                    </form>

                    <div class="offCanvasSide-logout">
                        <button type="button" id="logout" class="mui-btn mui-btn-block">退出登录</button>
                    </div>

                    <p class="version">v{{wgtVer}}</p>
                </div>
            </div>
        </aside>

        <div class="mui-inner-wrap" style="background:#efeff4">
            <header class="mui-bar mui-bar-nav" style="background:#3db391;">
                <a href="#offCanvasSide" style="color:#fff" class="mui-icon mui-action-menu mui-icon-bars mui-pull-left"></a>
                <h1 class="mui-title" style="color: #fff;">
                    渠道人员日报
                </h1>
            </header>
            
            <div class="mui-scroll-wrapper mui-content">
                <div class="mui-scroll">
                    <section class="section-0">
                        <div>本月预期销售额任务：</div>
                        <div id="missionProgress" class="num">{{monthAmount}}/{{monthPlanAmt}}</div>
                    </section>
                    <section class="section-1 section-container">
                        <div>
                            <div class="day" id="preDay">
                                <span class="mui-icon mui-icon-arrowleft"></span>
                            </div>
                            <div class="date" id="dateSelected" v-text="">{{date.dateText|dayFormatter}}</div>
                            <div class="day" id="nextDay">
                                <span class="mui-icon mui-icon-arrowright">
                                </span>
                            </div>
                        </div>
                    </section>
                    <section class="section-2 section-container" 
                        :data-userid="planCompletedListPerson.userId" 
                        :data-date="date.dateText" 
                        :data-user-name="planCompletedListPerson.userName">
                        <expansion-completed-summary :item="planCompletedListPerson">
                        </expansion-completed-summary>
                    </section>
                    <div class="remark" style="display: none;">
                        <p>备注</p>
                        <p>
                            <span class="placeholder" v-text="planCompletedListPerson.remark ? planCompletedListPerson.remark : '请输入缺填或数据偏差大的原因'"></span>
                            <span class="right mui-icon mui-icon-arrowright"></span>
                        </p>
                    </div>
                    <section class="section-3 section-container">
                        <div class="title">未来到团计划</div>                        
                        <ul class="mui-table-view">
                            <li class="mui-table-view-cell" v-for="(item, key) in planList" :key="key">
                                <div class="date">{{item.planTime|dateFormatter}}</div>
                                <div class="content">
                                    <div>
                                        <div>预期销售额</div>
                                        <div>{{expectAmount}}</div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div>
                                        <div>计划销售额</div>
                                        <div>{{item.planPreAmount|toFixed2}}</div>
                                        <div>计划流量数</div>
                                        <div v-text="item.planPreNum"></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
            <div class="mui-off-canvas-backdrop"></div>            
            <footer class="mui-bar mui-bar-footer">
				<button type="button" id="toExpansionPlan" class="mui-btn mui-btn-primary">填报计划</button>
			</footer>
        </div>
    </div>
        <script src="../../assets/js/mui.min.js"></script>
        <script src="../../assets/js/mui.picker.min.js"></script>
        <script src="../../assets/js/mui.dtpicker.js"></script>
        <script src="../../assets/js/framework/define.js"></script>
        <script src="../../assets/js/framework/styles.js"></script>
        <script src="../../assets/js/framework/lf.js"></script>
        <script src="../../assets/js/framework/common.js"></script>
        <script src="../../assets/libs/vue.min.js"></script>
</body>

</html>