.orderlist-content{
    .search{
        position: relative;
        background: #FB2C60;
        padding: 10px 50px 10px 10px;
        height: 50px;
        .searchspan{
            background: #FFFFFF;
            color: #929292;
            height: 30px;
            line-height: 30px;
            border-radius: 10px;
            padding: 0 10px;
        }
        .searchicon{
            position: absolute;
            right: 10px;
            color: #FFFFFF;
            top: 14px;
        }
    }
    .seach-history{
        background: #fff;
        height: 12rem;
        .search-jilu-title{
            height: .8rem;
            padding: 10px;
            div:first-child{
                float: left;
            }
            div:last-child{
                float: right;
            }
        }
        .search-jilu-neirong{
            height: .8rem;
            padding: 10px;
            div{
                float: left;
                width: 2rem;
                border: 1px solid #929292;
                margin-right: 15px;
                border-radius: 15px;
                text-align: center;
                color: #929292;
                font-size: 16px;
            }
        }
    }
    .order-ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
        .order-li{
            .mui-btn-danger{
                background: #FB2C60;
            }
            padding: 0 18px;
            background: #fff;
            list-style: none;
            margin: 0 5px;
            margin-top: 0.3rem;
            border: 1px solid #eee;
            border-radius: 10px;
            box-shadow: 0 0 10px #EEEEEE;
            &:last-child{
                margin-bottom: 0.3rem;
            }
            .title{
                color: #343434;
                font-size: 0.32rem;
                line-height: 1;
                padding: 18px 0 15px 0;
                border-bottom: 1px solid #EEEEEE;
                .dqr{
                    color: #FA2E61;
                }
                .ylr{
                    color: #6DA6FF;
                }
                .yqx{
                    color: #888888;
                }
            }
            .nr{
                padding: 15px 0 12px 0;
                font-size: 0.3rem;
                line-height: 1.8;
                color: #888888;
                .item{
                    word-break: break-all;
                    .error{
                        color: #E9A19A;
                    }
                    .zc{
                        color: #7AD7E7;
                    }
                }
                .imgbody{
                    position: relative;
                    padding-left: 2rem;
                    img{
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 1.8rem;
                        height: 1.8rem;
                    }
                }
            }
            .bottom{
                color: #888888;
                position: relative;
                height: 44px;
                line-height: 44px;
                .jespan{
                    position: relative;
                    top: 5px;
                    span{
                        color: #FF2A00;
                    }
                }
            }
            .btns{
                border-top: 1px solid #EEEEEE;
                text-align: right;
                position: relative;
                top: 5px;
            }
        }
    }
    .search-div{
        height: 35px;
        input{
            padding-left: 30px;
            padding-right: 30px;
        }
        .mui-icon-search{
            position: absolute;
            top: 7px;
            right: 5px;
        }
        .mui-icon-clear{
            top: 7px;
            right: 20px;
        }
    }
}
