.search-result{
	/* margin: 0.2rem; */
}
.order-detail{
	background-color: #fff;
	border-radius: 0.1rem;
	padding:0.2rem;
	color: #999;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.order-state1{
	float:right;
	background-color: #FF9369;
	color: #FFF;
	width: 1.5rem;
	text-align: center;
	border-radius: 0.5rem;
}
.order-state2{
	float:right;
	background-color: #FF9369;
	color: #FFF;
	width: 1.3rem;
	text-align: center;
	border-radius: 0.5rem;
}

.order-state3{
	float:right;
	background-color: #FF9369;
	color: #FFF;
	width: 1.5rem;
	text-align: center;
	border-radius: 0.5rem;
}

.order-name{
	padding-top: 0.2rem;
	color: #000;
	padding-bottom: 0.2rem;
	border-bottom: 1px solid #f4f4f4;
}
.tour-date-icon{
	display: inline-block;
	background:url('../../images/order/list_day.png') center center no-repeat;
	width: 0.4rem;
	height: 0.4rem;
	background-size: cover;
}
.tour-path-icon{
	display: inline-block;
	background:url('../../images/order/list_way.png') center center no-repeat;
	width: 0.4rem;
	height: 0.4rem;
	background-size: cover;
}
.tour-number-icon{
	display: inline-block;
	background:url('../../images/order/list_number.png') center center no-repeat;
	width: 0.4rem;
	height: 0.4rem;
	background-size: cover;
}
.tour-message{
	border-bottom: 1px solid #f4f4f4;
}
.tour-guide{
	padding: 0.2rem 0;
	color: #FF9369;
	display: flex;
	align-items: center;
}
.tour-guide-icon{
	display: inline-block;
	background:url('../../images/order/list_guide.png') center center no-repeat;
	width: 0.4rem;
	height: 0.4rem;
	background-size: cover;
}
.assign-btn{
	height: 0.8rem;
	background-color: #3EB392;
	border-bottom-right-radius: 0.1rem;
	border-bottom-left-radius: 0.1rem;
	text-align: center;
	line-height: 0.8rem;
	color: #fff;
}



.search-result .order-ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.search-result .order-ul .order-li {
	padding: 0;
	background: #fff;
	list-style: none;
	margin: 0 5px;
	margin-top: 0.3rem;
	border: 1px solid #eee;
	border-radius: 10px;
	box-shadow: 0 0 10px #EEEEEE;
}

.search-result .order-ul .order-li .mui-btn-danger {
	background: #FB2C60;
}

.search-result .order-ul .order-li:last-child {
	margin-bottom: 0.3rem;
}

.search-result .order-ul .order-li .title {
	color: #343434;
	font-size: 0.32rem;
	line-height: 1;
	padding: 18px 0.2rem 15px;
	border-bottom: 1px solid #EEEEEE;
	position: relative;
}

.search-result .order-ul .order-li .title .ylr {
	color: #6DA6FF;
}

.search-result .order-ul .order-li .title .yqx {
	color: #888888;
}

.search-result .order-ul .order-li .nr {
	padding: 15px 0.2rem 12px;
	font-size: 0.3rem;
	line-height: 1.8;
	color: #888888;
}

.search-result .order-ul .order-li .nr .item {
	word-break: break-all;
}

.search-result .order-ul .order-li .nr .item .error {
	color: #E9A19A;
}

.search-result .order-ul .order-li .nr .item .zc {
	color: #7AD7E7;
}

.search-result .order-ul .order-li .nr .imgbody {
	position: relative;
}

.search-result .order-ul .order-li .nr .imgbody .jespan {
	position: relative;
	top: 5px;
}

.search-result .order-ul .order-li .nr .imgbody .jespan span {
	color: #FF2A00;
}

.search-result .order-ul .order-li .bottom {
	color: #888888;
	position: relative;
	height: 44px;
	line-height: 44px;
}

.search-result .order-ul .order-li .btns {
	text-align: right;
	position: relative;
	top: 5px;
}

.search-result .search-div {
	height: 35px;
}

.search-result .search-div input {
	padding-left: 30px;
	padding-right: 30px;
}

.search-result .search-div .mui-icon-search {
	position: absolute;
	top: 7px;
	right: 5px;
}

.search-result .search-div .mui-icon-clear {
	top: 7px;
	right: 20px;
}

.search-result .colorgray {
	color: #B6B6B6;
}

.search-result .colorgray i {
	font-style: normal;
}

.search-result .dqr {
	color: #fff;
	border-radius: 0.6rem;
	padding: 0.1rem 0.1rem;
	text-align: center;
	font-size: 0.28rem;
	position: absolute;
	top: 0.2rem;
	right: 0.2rem;
}

.search-result .colororange {
	background: #FF9369;
	color: #fff;
}

.search-result .colorgreen {
	background: #49E5C6;
}

.search-result .colorblue {
	background: #16C0FF;
}

.search-result .colorpink {
	background: #FF7B9A;
}

.search-result .coloryellow {
	background: #FFD37E;
}

.search-result .order-ul .ico {
	display: inline-block;
	vertical-align: middle;
	width: 0.28rem;
	height: 0.28rem;
}

.search-result .order-ul .ico-starttime {
	background: url(../../images/order/list_day.png) no-repeat center;
	background-size: 100%;
}

.search-result .order-ul .ico-linename {
	background: url(../../images/order/list_way.png) no-repeat center;
	background-size: 100%;
}

.search-result .order-ul .ico-personcount {
	background: url(../../images/order/list_number.png) no-repeat center;
	background-size: 100%;
}

.search-result .guideinfo {
	margin: 0.2rem 0;
	color: #FF8458;
}

.search-result .order-ul .ico-tourguide {
	background: url(../../images/order/list_guide.png) no-repeat center;
	background-size: 100%;
}

.search-result .order-ul .tourinfo {
	border-bottom: 1px solid #EEEEEE;
	padding-bottom: 0.2rem;
}

.search-result .order-ul .order-li .button .mui-btn {
	width: 100%;
	border-radius: 0 0 0.2rem 0.2rem;
	background: #3EB392;
	color: #fff;
	font-size: 0.36rem;
}

.search-result .mui-slider-indicator {
	padding-bottom: 0.1rem;
	border: none;
}

.search-result .mui-fullscreen .mui-segmented-control~.mui-slider-group {
	padding-top: 0.1rem;
	border: 0;
}

.search-result .mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item {
	border-top: 0;
}