.search-header{
	background-color: #3EB392!important;
}
 .search-lien{
	display:inline-block;
	width: 1px;
	height: 18px;
	margin: 0 8px;
	background-color: #666;
	
}

.search-box{
	width: 80%;
	display: flex;
	align-items: center;
	/* border-bottom: 1px solid #fff; */
	height: 35px;
}
.search-input{
	background-color: #3EB392!important;
	border: none!important;
	width: 100%;
	height: 33px!important;
	padding: 0!important;
	margin: 0!important;
	color: #fff;
	font-size: 0.3rem;
}
.search-order-detail{
	margin:0.2rem 0;
}
.search-order-detail{
	font-size: 0.3rem;
	color: #333;
}
.search-order-detail input{
	font-size: 0.3rem;
}

.right-arrow{
	position: absolute;
	top: 0.15rem;
	right: 0;
}
.search .mui-input-row{
	position: relative;
}
.search .search-btn{
	width:90%;
	background-color:#3EB392;
	color:#fff ;
	border: none;
}


.search-result{
	height: 200px;
	border-radius: 10px;
	margin: 0.2rem;
}
