.trackinfo  input,.trackinfo  textarea{
	color: #888;
}
.trackinfo  .shootTime{
	border-bottom:1px solid #E3E2E5;
	border-right:1px solid #E3E2E5;
	width: 45%;
	padding-left: 0.1rem;
}
.trackinfo  .mui-card{
	margin: 0 0 0.2rem 0;
}
.trackinfo  .mui-content>.mui-card:first-child{
	margin: 0 0 0.2rem 0;
}
.trackinfo  .mui-navigate-right{
	font-weight: 700;
	font-size: 0.28rem;

}
.trackinfo  .mui-card .mui-collapse{
	border-bottom:1px solid #f1f1f1
}
.trackinfo   .mui-table-view-cell>a:not(.mui-btn){
		padding-left: 0;	
}
.trackinfo  .mui-navigate-right .border-left{
	border-left: 4px solid #000;
	height: 0.2rem;
	margin-right: 0.2rem;
}
.trackinfo .time{
	width: 20%;
	border-bottom:1px solid #E3E2E5;
	border-right:1px solid #E3E2E5;
	text-align: center;
	padding-right: 0;
}
.trackinfo .save {
	text-align: center;
}
.trackinfo .save .mui-btn-primary{
	text-align: center;
	margin: 0.4rem 0;
	width: 80%;
	text-align: center;
	background: #FF3064;
	border: none;
	border-radius: 0.5rem;
}
.trackinfo .addshootinfo{
	text-align: center;
	color: #007EFF;
	margin: 0.2rem 0;
}
.trackinfo .addshootinfo .ico{
	background: url(../../images/order/icon_add.png) no-repeat;
	background-size: 100% 100%;
	width: 0.24rem;
	height:0.24rem;
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.1rem;
}
