<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link href="../../assets/css/mui.min.css" rel="stylesheet" />
    <link href="../../assets/css/app.css" rel="stylesheet"/>
    <link href="../../assets/css/designate/designate.css" rel="stylesheet"/>
</head>

<body>
<div id="app">
    <header class="mui-bar mui-bar-nav">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <h1 class="mui-title">{{$t('action_btns.assign')}}</h1>
    </header>
    <div class="mui-content designate-designate">
        <div class="item-block">
            <div class="head-bar">
                <span class="title">{{$t('assigner')}}</span>
                <button type="button" class="mui-btn btn-designate" data-type="executorList">+ {{$t('action_btns.assign')}}</button>
            </div>
            <div class="body-main">
                <template v-if="executorList.length > 0">
                    <div class="item" v-for="(item,index) in executorList">
                        <span class="text-name" v-text="item.name"></span>
                        <span class="text-info" v-text="item.roleName"></span>
                        <span class="text-info" v-text="item.phone"></span>
                    </div>
                </template>
                <div v-else class="empty" v-text="emptyTip"></div>
            </div>
        </div>
        <div class="item-block" style="display: none">
            <div class="head-bar">
                <span class="title">{{$t('action_btns.output')}}</span>
                <button type="button" class="mui-btn btn-designate" data-type="outputList">+ {{$t('action_btns.assign')}}</button>
            </div>
            <div class="body-main">
                <template v-if="outputList.length > 0">
                    <div class="item" v-for="(item,index) in outputList">
                        <span class="text-name" v-text="item.name"></span>
                        <span class="text-info" v-text="item.phone"></span>
                    </div>
                </template>
                <div v-else class="empty" v-text="emptyTip"></div>
            </div>
        </div>
        <div class="item-block"  style="display: none">
            <div class="head-bar">
                <span class="title">{{$t('role.seller')}}</span>
                <button type="button" class="mui-btn btn-designate" data-type="salesList">+ {{$t('action_btns.assign')}}</button>
            </div>
            <div class="body-main">
                <template v-if="salesList.length > 0">
                    <div class="item" v-for="(item,index) in salesList">
                        <span class="text-name" v-text="item.name"></span>
                        <span class="text-info" v-text="item.phone"></span>
                    </div>
                </template>
                <div v-else class="empty" v-text="emptyTip"></div>
            </div>
        </div>
    </div>
</div>

<script src="../../assets/js/mui.min.js"></script>
<script src="../../assets/js/framework/define.js"></script>
<script src="../../assets/js/framework/styles.js"></script>
<script src="../../assets/js/framework/lf.js"></script>
<script src="../../assets/libs/vue.min.js"></script>
<script src="../../assets/libs/vue-i18n.js"></script>
<script src="../../assets/i18n/language.js"></script>
</body>

</html>