<!DOCTYPE html>
<!--cwj-->
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="../../css/mui.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/app.css" />
    <link rel="stylesheet" type="text/css" href="../../css/market-expansion/market-expansion.css" />
    <link rel="stylesheet" href="../../css/common/common.css" />
    <link rel="stylesheet" href="../../css/mui.dtpicker.css">
    <link rel="stylesheet" href="../../css/mui.picker.min.css">
    <style>
        
        .mui-bar-footer{
            height: 54px;
        }
        
        .mui-btn-primary{
            width: 100%;
            background-color: #3eb392;
            border-color:#3eb392;
            padding: 10px 12px 10px !important;
        }

        .mui-bar + main.mui-content {
            padding-bottom: 70px;
        }
        
        .version {
            text-align: center
        }

        [v-cloak] {
            display: none !important;
        }
    </style>
    <script src="../../js/framework/common.js"></script>
</head>

<body>
    <div class="mui-off-canvas-wrap mui-draggable orderlist-content-box" id="app" v-cloak>
        <!--侧滑菜单部分-->
        <aside id="offCanvasSide" class="mui-off-canvas-left">
            <div id="offCanvasSideScroll" class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <div class="offCanvasSide-header">
                        <img src="../../css/images/logo_login.png" alt="" class="offCanvasSide-header-avatar">
                        <p class="offCanvasSide-header-name">{{username}}</p>
                    </div>

                    <form class="offCanvasSide-role-wrap mui-input-group">
                        <div class="mui-input-row mui-radio mui-left" v-for="item in rolePositionList">
                            <label>{{item.name}}</label>
                            <input type="radio" v-bind:value="item.id" v-model="rolePositionId">
                        </div>
                    </form>

                    <div class="offCanvasSide-logout">
                        <button type="button" id="logout" class="mui-btn mui-btn-block">退出登录</button>
                    </div>

                    <p class="version">v{{wgtVer}}</p>
                </div>
            </div>
        </aside>

        <div class="mui-inner-wrap" style="background:#efeff4">
            <header class="mui-bar mui-bar-nav" style="background:#3db391;">
                <a href="#offCanvasSide" style="color:#fff" class="mui-icon mui-action-menu mui-icon-bars mui-pull-left"></a>
                <h1 class="mui-title" style="color: #fff;">
                    地推计划
                </h1>
            </header>
            
            <div class="mui-content">
                <div >
                    <section class="section-1 section-container">
                        <div>
                            <div class="day" id="preDay">
                                <span class="mui-icon mui-icon-arrowleft"></span>
                            </div>
                            <div class="date" id="dateSelected" v-text="">{{date.dateText|dayFormatter}}</div>
                            <div class="day" id="nextDay">
                                <span class="mui-icon mui-icon-arrowright"></span>
                            </div>
                        </div>
                    </section>
                    <section class="section-2 section-container">
                        <ul class="mui-table-view">
                            <li class="mui-table-view-cell">
                                <a class="mui-navigate-right">
                                    <div class="table-item">
                                        <div class="mui-pull-left left-part">团人数完成率</div>
                                        <div class="mui-pull-right right-part">
                                            <div class="summary">
                                                <span v-text="planCompletedDetail.peopleComletionRate + '%'"></span>
                                                <!-- <span>cddd级</span> -->
                                            </div>
                                            <div>
                                                <span v-text="planCompletedDetail.completedPeople"></span>/<span v-text="planCompletedDetail.planPeople"></span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="mui-table-view-cell">
                                <a class="mui-navigate-right">
                                    <div class="table-item">
                                        <div class="mui-pull-left left-part">前置金额完成率</div>
                                        <div class="mui-pull-right right-part">
                                            <div class="summary">
                                                <span v-text="planCompletedDetail.amountComletionRate + '%'"></span>
                                                <!-- <span>c级</span> -->
                                            </div>
                                            <div>
                                                <span v-text="planCompletedDetail.completedAmount"></span>/<span v-text="planCompletedDetail.planAmount"></span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </section>
                    
                    <section class="section-3 section-container">
                        <div class="title">未来到团计划</div>
                        <ul class="mui-table-view">
                            <li class="mui-table-view-cell table-header">
                                <div>日期</div>
                                <div>团人数</div>
                                <div>前置金额</div>
                                <div>今天备注</div>
                            </li>
                            <li class="mui-table-view-cell table-item" v-for="item in planList" :key="item.index">
                                <div>{{item.planTime|dateFormatter}}</div>
                                <div>{{item.planPreNum}}</div>
                                <div>{{item.planPreAmount|toFixed2}}</div>
                                <div>{{item.remark|lengthTo8}}</div>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
            <div class="mui-off-canvas-backdrop"></div>            
            <footer class="mui-bar mui-bar-footer">
				<button type="button" id="toExpansionPlan" class="mui-btn mui-btn-primary">填报计划</button>
			</footer>
        </div>

        <script src="../../js/mui.min.js"></script>
        <script src="../../js/mui.picker.min.js"></script>
        <script src="../../js/mui.dtpicker.js"></script>
        <script src="../../js/framework/define.js"></script>
        <script src="../../js/framework/styles.js"></script>
        <script src="../../js/framework/lf.js"></script>
        <script src="../../libs/vue.min.js"></script>
        <script src="../update.js"></script>
        <script src="market-expansion.js"></script>
</body>

</html>