<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link href="../../assets/css/mui.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../../assets/css/mui.picker.min.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/css/mui.poppicker.css" />
    <link href="../../assets/css/app.css" rel="stylesheet" />
    <link href="../../assets/css/quik-order/quik-order.css" rel="stylesheet" />
</head>

<body>
    <div id="app">
        <!-- 选择景点弹窗 -->
        <div class="select-journey-wrapper">
            <header class="mui-bar mui-bar-nav">
                <h1 class="mui-title">选择景点</h1>
                <a @click='confirmSelectJourney' class="mui-btn mui-pull-right confirm-btn">确定</a>
            </header>
            <div class="journey-select-inner">
                <ul class="mui-table-view">
                    <template v-for="(item,index) in journeyList">
                        <li
                            class="mui-table-view-cell mui-indexed-list-item"
                            :data-value="item.value">
                            <div class="item-wrap">
                                <span class="text-name" v-text="item.text"></span>
                                <div class="btn-wrap">
                                    <template>
                                        <button v-if="!item.selected" :index="index" type="button" class="mui-btn btn-select btn-select" @click='selectSingleJourney(item.text,index)'>选择</button>
                                        <button v-else :index="index" type="button" class="mui-btn btn-cancel" @click='cancelSingleJourney(item.text, index)'>取消</button>
                                    </template>
                                </div>
                            </div>
                        </li>
                    </template>
                </ul>
            </div>
        </div>
        <!-- 选择景点弹窗 -->

        <header id="personal-header-setting" class="mui-bar mui-bar-nav quikorder-header">
            <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
            <h1 class="mui-title">快速下单</h1>
        </header>
        <div class="mui-content quikorder-content">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell feedback-go">
                    <div class="mui-navigate-right product-name">
                        <div class="mui-pull-left">产品名称</div>
                        <input class="mui-pull-right" placeholder="请选择产品" v-model="productName" readonly maxlength="20">
                    </div>
                </li>
            </ul>
            <ul class="mui-table-view mt15">
                <!-- <li class="mui-table-view-cell feedback-go">
                    <div class="mui-navigate-right">
                        <div class="mui-pull-left personal-list-key">团号</div>
                        <input class="mui-pull-right" placeholder="请输入团号" v-model="groupNo">
                    </div>
                </li> -->
                <li class="mui-table-view-cell feedback-go">
                    <div class="mui-navigate-right">
                        <div class="mui-pull-left personal-list-key">团人数</div>
                        <input class="mui-pull-right" placeholder="请输入人数" v-model="groupMemberNum">
                    </div>
                </li>
                <li class="mui-table-view-cell about-go">
                    <div class="mui-navigate-right groupDate">
                        <div class="mui-pull-left personal-list-key">出团日期</div>
                        <input class="mui-pull-right" placeholder="请选择日期" v-model="groupDate" readonly>
                    </div>
                </li>
                <li class="mui-table-view-cell about-go">
                    <div class="mui-navigate-right">
                        <div class="mui-pull-left personal-list-key">导游</div>
                        <input class="mui-pull-right" placeholder="请输入姓名" v-model="guidName">
                </ddiv>
                </li>
                <li class="mui-table-view-cell about-go">
                    <div class="mui-navigate-right">
                        <div class="mui-pull-left personal-list-key">导游电话</div>
                        <input class="mui-pull-right" placeholder="请输入电话" v-model="guidTel">
                    </div>
                </li>
                <li class="mui-table-view-cell about-go">
                    <div class="mui-navigate-right saleDate">
                        <div class="mui-pull-left personal-list-key">销售时间</div>
                        <input class="mui-pull-right" placeholder="请输入销售时间" v-model="saleDate">
                    </div>
                </li>
                <li class="mui-table-view-cell feedback-go">
                    <div class="mui-navigate-right designate">
                        <div class="mui-pull-left personal-list-key">指派人</div>
                        <input class="mui-pull-right" placeholder="请选择指派人" v-model="operator" readonly>
                    </div>
                </li>
            </ul>
            <ul class="mui-table-view mt15">
                <li class="mui-table-view-cell about-go">
                    <div class="mui-navigate-right" @click="selectJourneyName($event)">
                        <div class="mui-pull-left personal-list-key">拍摄景点</div>
                        <input class="mui-pull-right" placeholder="请输入景点" v-model="shootPlance" readonly="readonly" disabled="disabled">
                    </div>
                </li>
                <li class="mui-table-view-cell feedback-go">
                    <div class="mui-navigate-right shootTime">
                        <div class="mui-pull-left personal-list-key">拍摄时间</div>
                        <input class="mui-pull-right" placeholder="请选择时间" v-model="shootTime" readonly>
                    </div>
                </li>
                <li class="mui-table-view-cell feedback-go">
                    <div class="mui-navigate-right shooter">
                        <div class="mui-pull-left personal-list-key">摄影师</div>
                        <input class="mui-pull-right" placeholder="请选择摄影师" v-model="shooter" readonly>
                    </div>
                </li>
            </ul>
            <ul class="mui-table-view mt15 mb15">
                <li class="mui-table-view-cell about-go">
                    <div class="mui-navigate-right">
                        <div class="mui-pull-left personal-list-key">拍摄张数</div>
                        <input class="mui-pull-right" placeholder="请输入拍摄张数(非必填)" v-model="shootNums">
                    </div>
                </li>
                <li class="mui-table-view-cell about-go">
                    <div class="mui-navigate-right">
                        <div class="mui-pull-left personal-list-key">选片张数</div>
                        <input class="mui-pull-right" placeholder="请输入选片张数(非必填)" v-model="selectPhotoNums">
                    </div>
                </li>
                <li class="mui-table-view-cell feedback-go">
                    <div class="mui-navigate-right">
                        <div class="mui-pull-left personal-list-key">打印张数</div>
                        <input class="mui-pull-right print-nums" placeholder="请输入张数" v-model="printNums">
                        <input class="mui-pull-right print-size" placeholder="请选择尺寸" readonly v-model="size">
                    </div>
                </li>
            </ul>
            <footer class="mui-bar-footer quikorder-footer">
                <button type="button" class="mui-btn mui-btn-primary sure">确认下单</button>
            </footer>
        </div>
    </div>


    <script src="../../assets/js/mui.min.js"></script>
    <script src="../../assets/js/mui.picker.min.js"></script>
    <script src="../../assets/js/framework/define.js"></script>
    <script src="../../assets/js/framework/styles.js"></script>
    <script src="../../assets/js/framework/common.js"></script>
    <script src="../../assets/js/framework/lf.js"></script>
    <script src="../../assets/libs/vue.min.js"></script>
    
</body>

</html>