<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link href="../../assets/css/mui.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../../assets/css/mui.picker.min.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/css/mui.poppicker.css" />
    <link href="../../assets/css/app.css" rel="stylesheet" />
    <link href="../../assets/css/quik-order/quik-order.css" rel="stylesheet" />
</head>

<body>
    <div id="app">
        <!-- 选择景点弹窗 -->
        <div class="select-journey-wrapper">
            <header class="mui-bar mui-bar-nav">
                <h1 class="mui-title">{{$t('select_journey')}}</h1>
                <a @click='confirmSelectJourney' class="mui-btn mui-pull-right confirm-btn">{{$t('ok')}}</a>
            </header>
            <div class="journey-select-inner">
                <ul class="mui-table-view">
                    <template v-for="(item,index) in journeyList">
                        <li
                            class="mui-table-view-cell mui-indexed-list-item"
                            :data-value="item.value">
                            <div class="item-wrap">
                                <span class="text-name" v-text="item.text"></span>
                                <div class="btn-wrap">
                                    <template>
                                        <button v-if="!item.selected" :index="index" type="button" class="mui-btn btn-select btn-select" @click='selectSingleJourney(item.text,index)'>{{$t('select')}}</button>
                                        <button v-else :index="index" type="button" class="mui-btn btn-cancel" @click='cancelSingleJourney(item.text, index)'>{{$t('cancel')}}</button>
                                    </template>
                                </div>
                            </div>
                        </li>
                    </template>
                </ul>
            </div>
        </div>
        <!-- 选择景点弹窗 -->

        <header id="personal-header-setting" class="mui-bar mui-bar-nav quikorder-header">
            <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
            <h1 class="mui-title">{{$t('quick_order')}}</h1>
        </header>
        <div class="mui-content quikorder-content">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell feedback-go">
                    <div class="mui-navigate-right product-name">
                        <div class="mui-pull-left">{{$t('product_name')}}</div>
                        <input class="mui-pull-right" :placeholder="$t('select_product')" v-model="productName" readonly maxlength="20">
                    </div>
                </li>
            </ul>
            <ul class="mui-table-view mt15">
                <!-- <li class="mui-table-view-cell feedback-go">
                    <div class="mui-navigate-right">
                        <div class="mui-pull-left personal-list-key">团号</div>
                        <input class="mui-pull-right" placeholder="请输入团号" v-model="groupNo">
                    </div>
                </li> -->
                <li class="mui-table-view-cell feedback-go">
                    <div class="mui-navigate-right">
                        <div class="mui-pull-left personal-list-key">{{$t('number_participates')}}</div>
                        <input class="mui-pull-right" :placeholder="$t('input_person_count')" v-model="groupMemberNum" type="number">
                    </div>
                </li>
                <li class="mui-table-view-cell about-go">
                    <div class="mui-navigate-right groupDate">
                        <div class="mui-pull-left personal-list-key">{{$t('launch_date')}}</div>
                        <input class="mui-pull-right" :placeholder="$t('select_launch_date')" v-model="groupDate" readonly type="text">
                    </div>
                </li>
                <li class="mui-table-view-cell about-go">
                    <div class="mui-navigate-right">
                        <div class="mui-pull-left personal-list-key">{{$t('tour_guide')}}</div>
                        <input class="mui-pull-right" :placeholder="$t('input_tour_guide_name')" v-model="guidName" type="text">
                </ddiv>
                </li>
                <li class="mui-table-view-cell about-go">
                    <div class="mui-navigate-right">
                        <div class="mui-pull-left personal-list-key">{{$t('tour_guide_phone')}}</div>
                        <input class="mui-pull-right" :placeholder="$t('input_tour_guide_phone')" v-model="guidTel" type="number">
                    </div>
                </li>
                <li class="mui-table-view-cell about-go">
                    <div class="mui-navigate-right saleDate">
                        <div class="mui-pull-left personal-list-key">{{$t('anticipated_service_completion_time')}}</div>
                        <input class="mui-pull-right" :placeholder="$t('select_time')" v-model="saleDate" readonly type="text">
                    </div>
                </li>
                <li class="mui-table-view-cell feedback-go">
                    <div class="mui-navigate-right designate">
                        <div class="mui-pull-left personal-list-key">{{$t('assigner')}}</div>
                        <input class="mui-pull-right" placeholder="请选择指派人" v-model="operator" readonly type="text">
                    </div>
                </li>
            </ul>
            <ul class="mui-table-view mt15">
                <li class="mui-table-view-cell about-go">
                    <div class="mui-navigate-right" @click="selectJourneyName($event)">
                        <div class="mui-pull-left personal-list-key">{{$t('shoot_location')}}</div>
                        <input class="mui-pull-right" :placeholder="$t('select_shoot_location')" v-model="shootPlance" type="text" readonly="readonly" disabled="disabled">
                    </div>
                </li>
                <li class="mui-table-view-cell feedback-go">
                    <div class="mui-navigate-right shootTime">
                        <div class="mui-pull-left personal-list-key">{{$t('shoot_date')}}</div>
                        <input class="mui-pull-right" :placeholder="$t('select_time')" v-model="shootTime" type="text" readonly>
                    </div>
                </li>
                <li class="mui-table-view-cell feedback-go">
                    <div class="mui-navigate-right shooter">
                        <div class="mui-pull-left personal-list-key">{{$t('role.photographer')}}</div>
                        <input class="mui-pull-right" placeholder="请选择摄影师" v-model="shooter" type="text" readonly>
                    </div>
                </li>
                <li class="mui-table-view-cell feedback-go">
                    <div class="mui-navigate-right shootType">
                        <div class="mui-pull-left personal-list-key">{{$t('shoot_type')}}</div>
                        <input class="mui-pull-right" :placeholder="$t('select_shoot_type')" v-model="shootType" type="text" readonly>
                    </div>
                </li>
            </ul>
            <ul class="mui-table-view mt15 mb15">
                <li class="mui-table-view-cell about-go">
                    <div class="mui-navigate-right">
                        <div class="mui-pull-left personal-list-key">{{$t('number_photo')}}</div>
                        <input class="mui-pull-right" placeholder="请输入拍摄张数(非必填)" type="number" v-model="shootNums">
                    </div>
                </li>
                <li class="mui-table-view-cell about-go">
                    <div class="mui-navigate-right">
                        <div class="mui-pull-left personal-list-key">{{$t('number_selection')}}</div>
                        <input class="mui-pull-right" placeholder="请输入选片张数(非必填)" type="number" v-model="selectPhotoNums">
                    </div>
                </li>
                <li class="mui-table-view-cell feedback-go">
                    <div class="mui-navigate-right">
                        <div class="mui-pull-left personal-list-key">{{$t('number_prints')}}</div>
                        <input class="mui-pull-right print-nums" placeholder="请输入张数" v-model="printNums" type="number">
                        <input class="mui-pull-right print-size" placeholder="请选择尺寸" readonly type="text" v-model="size">
                    </div>
                </li>
            </ul>
            <footer class="mui-bar-footer quikorder-footer">
                <button type="button" class="mui-btn mui-btn-primary sure">{{$t('confirm_order')}}</button>
            </footer>
        </div>
    </div>


    <script src="../../assets/js/mui.min.js"></script>
    <script src="../../assets/js/mui.picker.min.js"></script>
    <script src="../../assets/js/framework/define.js"></script>
    <script src="../../assets/js/framework/styles.js"></script>
    <script src="../../assets/js/framework/lf.js"></script>
    <script src="../../assets/js/framework/common.js"></script>
    <script src="../../assets/libs/vue.min.js"></script>
    <script src="../../assets/libs/vue-i18n.js"></script>
    <script src="../../assets/i18n/language.js"></script>
</body>

</html>