.statistics-daily-paper{
  .mui-bar-nav{
    #income,#flow,#history{
      width: 44px;
      height: 44px;
      img{
        width: 18px;
        height: 18px;
        vertical-align: middle;
        position: relative;
        top: 2px;
      }
    }
  }
}