.statistics-daily-paper{
  #flow,#history{
    margin-left: 0;
  }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table;
  }
  .clearfix:after {
    clear: both;
  }
  .lf{
    float: left;
  }
  .rt{
    float: right;
  }
  .currency{
    top: -2px;
    position: relative;
    &:before{
      content: '￥';
      font-size: 14px;
    }
  }
  .number-large{
    font-size: 28px;
    .currency:before{
      font-size: 16px;
    }
  }
  .number-sign,.number-lose{
    position: relative;
    padding-left: 14px;
    &.number-large{
      .sign{
        height: 15px;
      }
    }
    .sign{
      position: absolute;
      left: 0;
      bottom: 4px;
      width:12px;
      height: 14px;
      background-repeat: no-repeat;
      background-position: center;
    }
    .number:after{
      content: '%';
    }
  }

  .number-sign{
    color: #F17175;
    .sign{
      background-image: url("../../images/statistics/arrow-up.png");
    }
  }
  .number-lose{
    color: #81D6BB;
    .sign{
      background-image: url("../../images/statistics/arrow-down.png");
    }
  }
  .sep-line{
    border-bottom: 1px solid #ddd;
    margin: 5px 0;
  }
  .mui-bar-nav{
    #income,#flow,#history{
      width: 44px;
      height: 44px;
      img{
        width: 18px;
        height: 18px;
        vertical-align: middle;
        position: relative;
        top: 2px;
      }
    }
  }
  .daily-content{
    padding-bottom: 20px;
    .section-box{
      margin-bottom: 5px;
      background-color: #fff;
      .section-title {
        padding: 18px 18px 16px;
        color: #919191;
        .text {
          float: left;
          font-size: 18px;
          font-weight: bold;
        }
        .tool {
          float: right;
          .icon + .icon {
            cursor: pointer;
            margin-left: 10px;
          }
        }
      }
      .section-content{
        .echarts{
          width: 100%;
          height: 310px;
        }
      }
    }
    .info-box{
      color: #363636;
      background-color: #fff;
      padding: 20px;
      margin-bottom: 5px;
      &.center{
        text-align: center;
      }
      .title{
        margin-bottom: 10px;
      }
      .content{
        font-size: 24px;
      }
    }
    .list-show-wrap{
      .item{
        padding: 10px;
        font-size: 14px;
      }
    }
  }
}