@charset "UTF-8";
.statistics-daily-paper .clearfix:before, .statistics-daily-paper .clearfix:after {
  content: " ";
  display: table;
}

.statistics-daily-paper .clearfix:after {
  clear: both;
}

.statistics-daily-paper .lf {
  float: left;
}

.statistics-daily-paper .rt {
  float: right;
}

.statistics-daily-paper .currency {
  top: -2px;
  position: relative;
}

.statistics-daily-paper .currency:before {
  content: '￥';
  font-size: 12px;
}

.statistics-daily-paper .number-sign .sign, .statistics-daily-paper .number-lose .sign {
  display: inline-block;
  width: 12px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: center;
}

.statistics-daily-paper .number-sign .number:after, .statistics-daily-paper .number-lose .number:after {
  content: '%';
}

.statistics-daily-paper .number-sign {
  color: #F17175;
}

.statistics-daily-paper .number-sign .r-box {
  border-color: #F17175;
}

.statistics-daily-paper .number-sign .sign {
  background-image: url("../../images/statistics/arrow-up.png");
}

.statistics-daily-paper .number-lose {
  color: #81D6BB;
}

.statistics-daily-paper .number-lose .r-box {
  border-color: #81D6BB;
}

.statistics-daily-paper .number-lose .sign {
  background-image: url("../../images/statistics/arrow-down.png");
}

.statistics-daily-paper .ring-wrap {
  text-align: center;
}

.statistics-daily-paper .ring-wrap .r-box {
  border-radius: 18px;
  border-width: 1px;
  border-style: solid;
  display: inline-block;
  padding: 2px 12px;
}

.statistics-daily-paper .ring-wrap .r-box .number {
  font-size: 18px;
}

.statistics-daily-paper .sep-line {
  border-bottom: 1px solid #ddd;
  margin: 5px 0;
}

.statistics-daily-paper .mui-bar-tab .mui-tab-item {
  height: 62px;
  color: #AAB0B1;
}

.statistics-daily-paper .mui-bar-tab .mui-tab-item.mui-active {
  color: #3CB493;
}

.statistics-daily-paper .mui-bar-tab .mui-tab-item .mui-icon {
  width: 24px;
  height: 24px;
}

.statistics-daily-paper .mui-bar-tab .mui-tab-item .mui-icon img {
  width: 100%;
}

.statistics-daily-paper .mui-segmented-control.mui-segmented-control-inverted {
  background-color: #fff;
  margin-bottom: 5px;
}

.statistics-daily-paper .mui-segmented-control.mui-segmented-control-inverted .mui-control-item {
  color: #333;
}

.statistics-daily-paper .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
  color: inherit;
  border-bottom: none;
}

.statistics-daily-paper .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active .text {
  display: inline-block;
  width: 90px;
  color: #3CB493;
  border-bottom: 2px solid #3CB493;
}

.statistics-daily-paper .daily-content {
  padding-bottom: 20px;
}

.statistics-daily-paper .daily-content .section-box {
  margin-bottom: 5px;
  background-color: #fff;
}

.statistics-daily-paper .daily-content .section-box .section-title {
  padding: 18px 14px 16px;
  color: #919191;
}

.statistics-daily-paper .daily-content .section-box .section-title .text {
  float: left;
  font-size: 15px;
  color: #666;
}

.statistics-daily-paper .daily-content .section-box .section-title .tool {
  float: right;
  height: 21px;
}

.statistics-daily-paper .daily-content .section-box .section-title .tool .icon {
  display: inline-block;
  height: 21px;
}

.statistics-daily-paper .daily-content .section-box .section-title .tool .icon + .icon {
  cursor: pointer;
  margin-left: 10px;
}

.statistics-daily-paper .daily-content .section-box .section-title .tool .icon-more-select {
  width: 26px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../../images/statistics/more.png");
}

.statistics-daily-paper .daily-content .section-box .section-content .echarts {
  width: 100%;
  height: 240px;
}

.statistics-daily-paper .daily-content .section-box .section-content .echarts.axis-label-long {
  height: 280px;
}

.statistics-daily-paper .daily-content .info-box-mui-slider {
  margin-bottom: 5px;
}

.statistics-daily-paper .daily-content .info-box {
  color: #363636;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 5px;
}

.statistics-daily-paper .daily-content .info-box.center {
  text-align: center;
}

.statistics-daily-paper .daily-content .info-box .title {
  color: #666;
  font-size: 15px;
  margin-bottom: 10px;
}

.statistics-daily-paper .daily-content .info-box .value-wrap {
  color: #333;
  height: 24px;
  line-height: 24px;
  margin-bottom: 4px;
}

.statistics-daily-paper .daily-content .info-box .value-wrap .number {
  font-size: 20px;
  font-weight: bold;
}

.statistics-daily-paper .daily-content .info-box .single-value {
  display: block;
  padding-top: 10px;
  color: #F17175;
  font-size: 15px;
  font-weight: bold;
}

.statistics-daily-paper .daily-content .info-box .single-value.currency:before {
  font-size: 12px;
}

.statistics-daily-paper .daily-content .info-box .content {
  font-size: 24px;
}

.statistics-daily-paper .daily-content .list-show-wrap .item {
  padding: 10px;
  font-size: 14px;
}

.statistics-daily-paper .daily-content .list-show-wrap .item .content .currency {
  top: 0;
}

.statistics-daily-paper .daily-content .list-num-icon-wrap {
  padding-top: 10px;
}

.statistics-daily-paper .daily-content .list-num-icon-wrap .item {
  color: #333;
  padding: 8px 14px;
  font-size: 14px;
  line-height: 54px;
}

.statistics-daily-paper .daily-content .list-num-icon-wrap .item .num, .statistics-daily-paper .daily-content .list-num-icon-wrap .item .num-icon {
  width: 24px;
  height: 54px;
  text-align: center;
  margin-right: 20px;
}

.statistics-daily-paper .daily-content .list-num-icon-wrap .item .num-icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.statistics-daily-paper .daily-content .list-num-icon-wrap .item .num-icon.num-icon-1 {
  background-image: url("../../images/statistics/ranking-first.png");
}

.statistics-daily-paper .daily-content .list-num-icon-wrap .item .num-icon.num-icon-2 {
  background-image: url("../../images/statistics/ranking-second.png");
}

.statistics-daily-paper .daily-content .list-num-icon-wrap .item .num-icon.num-icon-3 {
  background-image: url("../../images/statistics/ranking-third.png");
}
