.statistics-daily-paper{
  $primary-color: #3CB493;
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table;
  }
  .clearfix:after {
    clear: both;
  }
  .lf{
    float: left;
  }
  .rt{
    float: right;
  }
  .currency{
    top: -2px;
    position: relative;
    &:before{
      content: 'ï¿¥';
      font-size: 12px;
    }
  }
  .number-sign,.number-lose{
    .sign{
      display: inline-block;
      width: 12px;
      height: 14px;
      background-repeat: no-repeat;
      background-position: center;
    }
    .number{
      &:after{
        content: '%';
      }
    }
  }

  .number-sign{
    color: #F17175;
    .r-box{
      border-color: #F17175;
    }
    .sign{
      background-image: url("../../images/statistics/arrow-up.png");
    }
  }
  .number-lose{
    color: #81D6BB;
    .r-box{
      border-color: #81D6BB;
    }
    .sign{
      background-image: url("../../images/statistics/arrow-down.png");
    }
  }
  .ring-wrap{
    text-align: center;
    .r-box{
      border-radius: 18px;
      border-width: 1px;
      border-style: solid;
      display: inline-block;
      padding: 2px 12px;
      .number{
        font-size: 18px;
      }
    }
  }
  .sep-line{
    border-bottom: 1px solid #ddd;
    margin: 5px 0;
  }
  .mui-bar-tab{
    .mui-tab-item{
      height: 62px;
      color: #AAB0B1;
      &.mui-active{
        color: $primary-color;
      }
      .mui-icon{
        width: 24px;
        height: 24px;
        img{
          width: 100%;
        }
      }
    }
  }
  .mui-segmented-control{
    &.mui-segmented-control-inverted{
      background-color: #fff;
      margin-bottom: 5px;
      .mui-control-item {
        color: #333;
        &.mui-active{
          color: inherit;
          border-bottom: none;
          .text{
            display: inline-block;
            width: 90px;
            color: $primary-color;
            border-bottom: 2px solid $primary-color;
          }
        }
      }
    }
  }
  .daily-content{
    padding-bottom: 20px;
    .section-box{
      margin-bottom: 5px;
      background-color: #fff;
      .section-title {
        padding: 18px 14px 16px;
        color: #919191;
        .text {
          float: left;
          font-size: 15px;
          color: #666;
        }
        .tool {
          float: right;
          height: 21px;
          .icon{
            display: inline-block;
            height: 21px;
          }
          .icon + .icon {
            cursor: pointer;
            margin-left: 10px;
          }
          .icon-more-select{
            width: 26px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            background-image: url("../../images/statistics/more.png");
          }
        }
      }
      .section-content{
        .echarts{
          width: 100%;
          height: 240px;
        }
        .echarts.axis-label-long{
          height: 280px;
        }
      }
    }
    .info-box-mui-slider{
      margin-bottom: 5px;
    }
    .info-box{
      color: #363636;
      background-color: #fff;
      padding: 20px;
      margin-bottom: 5px;
      &.center{
        text-align: center;
      }
      .title{
        color: #666;
        font-size: 15px;
        margin-bottom: 10px;
      }
      .value-wrap{
        color: #333;
        height: 24px;
        line-height: 24px;
        margin-bottom: 4px;
        .number{
          font-size: 20px;
          font-weight: bold;
        }
      }
      .single-value{
        display: block;
        padding-top: 10px;
        color: #F17175;
        font-size: 15px;
        font-weight: bold;
        &.currency:before{
          font-size: 12px;
        }
      }
      .content{
        font-size: 24px;
      }
    }
    .list-show-wrap{
      .item{
        padding: 10px;
        font-size: 14px;
        .content{
          .currency{
            top: 0;
          }
        }
      }
    }
    .list-num-icon-wrap{
      padding-top: 10px;
      .item{
        color: #333;
        padding: 8px 14px;
        font-size: 14px;
        line-height: 54px;
        .num,.num-icon{
          width: 24px;//36px;
          height: 54px;
          text-align: center;
          margin-right: 20px;
        }
        .num-icon {
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          &.num-icon-1{
            background-image: url("../../images/statistics/ranking-first.png");
          }
          &.num-icon-2{
            background-image: url("../../images/statistics/ranking-second.png");
          }
          &.num-icon-3{
            background-image: url("../../images/statistics/ranking-third.png");
          }
        }
      }
    }
  }
}