.mui-bar-footer{
    height: 54px;
}

.mui-btn-primary{
    width: 100%;
    background-color: #3eb392;
    border-color:#3eb392;
    padding: 10px 12px 10px !important;
}

.mui-bar + main.mui-content {
    padding-bottom: 70px;
}

.mui-content .block {
    /* border: 1px solid red; */
    /* background: #fff; */
    margin-top: 15px;
    font-size: 0.28rem;
}
.mui-content .block input {
    font-size: 0.28rem;
}

.block .block-date {
    padding: 11px 15px;
    font-size: 0.28rem;
}
.block .block-date .mui-icon {
    color: #3eb392;
}
.color888 {
    color: #888;
}

.mui-bar {
    /* position: relative; */
}
.mui-bar .add-plan {
    position: absolute;
    padding:4px 10px;
    border: 1px solid #fff;
    top: 6px;
    right: 5px;
    border-radius: 3px;
    color: #fff;
    background-color: #3cb493;
    font-size: 0.26rem;
}
.mui-bar .add-plan:active {
    background-color: #fff;
    color: #3cb493;
}

.mui-content .block {
    position: relative;
}
.mui-content .block .mui-icon-close {
    position: absolute;
    top: -8px;
    right: 0px;
    background: #fff;
    border-radius: 50%;
}
.mui-card-content .block .mui-input-row {
    position: relative;
}
.mui-card-content .block .mui-pull-left {
    width: 35% !important;
}
.mui-card-content .block .mui-pull-right {
    width: 60% !important; 
}