.mui-content .container{
    padding: 0 10px;
    background-color: #ffffff;
    margin-top: 10px;
    color:#343434;
    font-size: .3rem;
}
.mui-bar + main.mui-content {
    padding-bottom: 70px;
}
main section.container:first-child .title{
    font-size: .32rem;
}
.title {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #EEEEEE;
}
.total{
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #EEEEEE;
}
.total .orange {
    font-size: .32rem;
}
.border-left::before{
    content:'';
    display: inline-block;
    width: 2px;
    height: 14px;
    background-color: #3eb392;
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
    top: -1px;
}
.modifyBtn{
    position: relative;
    top:7px;
    height: 26px;
    line-height: 26px;
    padding:0 8px;
    color:#3eb392;
    border: 1px solid #3eb392;
    border-radius: 3px;
}
.content {
    padding: 10px 0;
}
.content li {
    line-height: 24px;
}
.content img {
    width: 14px;
    height: 14px;
    vertical-align: middle;
    position: relative;
    top: -1px;
}
.gray {
    color:#888888;
}
.orange{
    color: #FF8458;
}
.list-unstyle{
    margin:0;
    padding: 0;
}
.list-unstyle li {
    list-style: none;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
.mui-icon-arrowright{
    color:#999;
    line-height: 40px;
}
.border-none{
    border:none;
}
.mui-bar-footer{
    height: 54px;
}
.mui-btn-primary{
    width: 100%;
    background-color: #3eb392;
    border-color:#3eb392;
    padding: 10px 12px 10px !important;
}
.mui-popover{
    width: auto;
}
.mui-popover-arrow{
    display: none;
}