<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="../../assets/css/mui.min.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/app.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/css/daily-manage/daily-search.css" />
    <link rel="stylesheet" href="../../assets/css/common/common.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/css/mui.picker.min.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/mui.poppicker.css" />
</head>

<body>
    <div id="app">
        <header class="mui-bar mui-bar-nav">
            <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
            <h1 class="mui-title">搜索</h1>
        </header>
        <main class="mui-content">
            <div class="bgwhite content">
                <div class="mui-input-row">
                    <label>日报开始日期</label>
                    <input type="text" class="startTime" v-model="startTime" placeholder="请选择时间" readonly>
                    <div class="mui-navigate-right"></div>
                </div>
                <div class="mui-input-row">
                    <label>日报结束日期</label>
                    <input type="text" class="finishTime" v-model="finishTime" placeholder="请选择时间" readonly>
                    <div class="mui-navigate-right"></div>
                </div>
            </div>
            <div class="btn-group">
                <button class="only">只看昨天</button>
                <button class="search">搜索</button>
            </div>
            <div class="info bgwhite" v-for="item in searhList" :key="item">
                <div class="date">
                    <img src="../../assets/images/order/date.png">
                    <span v-text="item.planDate"></span>
                    <span class="badge" v-if="item.flag==1">计划被改</span>
                </div>
                <p>
                    <span>总销售额: <span v-text="item.realityAmount || '待销售'"></span></span>
                    <span class="plan-info">预销售额: <span v-text="item.planAmount"></span></span>
                    <em v-if="item.planAmount!=0" v-text="item.proportionAmount"></em>
                </p>
                <p>
                    <span>实拍人数: <span v-text="item.realityShootNums || '待拍摄'"></span></span>
                    <span class="plan-info">预拍人数: <span v-text="item.planShootNums"></span></span>
                    <em v-if="item.planShootNums!=0" v-text="item.proportionShootNums"></em>
                </p>
                <p>
                    <span>实发团人数: <span v-text="item.realityPersons || '未发团'"></span></span>
                    <span class="plan-info">预发团人数: <span v-text="item.planPersons"></span></span>
                </p>
                <p>
                    <span>前置销售额: <span v-text="item.advanceAmt || '待销售'"></span></span>
                    <span>二销售额: <span v-text="item.appAmt || '待销售'"></span></span>
                </p>
                <div class="remark" :data-planDate="item.planDate" :data-planPersons="item.planPersons" :data-planAmount="item.planAmount" :data-planShootNums="item.planShootNums" :data-remark="item.remark">
                    <p>备注</p>
                    <p><span class="placeholder" v-text="item.remark || '请输入缺填或数据偏差大的原因'"></span><span class="right mui-icon mui-icon-arrowright"></span></p>
                </div>
            </div>
        </main>
    </div>
    <script src="../../assets/js/mui.min.js"></script>
    <script src="../../assets/js/mui.picker.min.js"></script>
    <script src="../../assets/js/framework/define.js"></script>
    <script src="../../assets/js/framework/styles.js"></script>
    <script src="../../assets/js/framework/lf.js"></script>
    <script src="../../assets/js/framework/common.js"></script>
    <script src="../../assets/libs/vue.min.js"></script>
    
</body>

</html>