.mui-content .container{
    background-color: #ffffff;
    margin-top: 10px;
    color:#343434;
    font-size: .3rem;
}
.mui-bar + main.mui-content {
    padding-bottom: 70px;
}
.title {
    height: 50px;
    border-bottom: 1px solid #EEEEEE;
    display: flex;
    color:#888888;
}
.title li {
    position: relative;
    top: 10px;
    width: 25%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-right: 1px solid #efefef;
}
.title li:last-child {
    border-right: none;
}
.content {
    padding: 0 10px!important;
    font-size: .32rem;
    color:#343434;
}
.content li {
    display: flex;
    border-bottom: 1px solid #eeeeee;
}
.content li:last-child {
    border-bottom: none;
}
.content li > div{
    width: 25%;
    text-align: center;
    height: 60px;
    line-height: 60px;
}
.content li > div:nth-child(3) {
    text-align: left;
    padding-left: .3rem;
}
.content li > div img {
    width: .32rem;
    height: .32rem;
    vertical-align: middle;
    position: relative;
    top: -1px;
    margin-right: 5px;
}
.gray {
    color:#888888;
}
.orange{
    color: #FF8458;
}
.list-unstyle{
    margin:0;
    padding: 0;
}
.list-unstyle li {
    list-style: none;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
.mui-bar-footer{
    height: 60px;
    padding-top: 10px;
    line-height: 20px;
}
.mui-bar-footer div:first-child{
    font-size: .32rem;
    color: #343434;
}
.mui-bar-footer div:last-child{
    font-size: .28rem;
    color: #999999;
}
