<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

        <link rel="stylesheet" href="../../assets/css/mui.min.css">
        <link rel="stylesheet" type="text/css" href="../../assets/css/mui.picker.min.css" />
        <link rel="stylesheet" type="text/css" href="../../assets/css/mui.poppicker.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/app.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/correlate-order/editSaleOrder.css" />
		<link rel="stylesheet" href="../../assets/css/common/common.css" />
        <style>
            input{
                width: auto !important;
                margin: 0 !important;
                padding-top: 0 !important;
                padding-bottom: 0 !important;
            }
            .mui-card-header{
                background: #3eb392;
                font-size: 0.32rem;
                color: #fff;
            }
            .mui-content .block {
                position: relative;
            }
            .mui-content .block .mui-icon-close {
                position: absolute;
                top: -8px;
                right: 0px;
                background: #fff;
                border-radius: 50%;
            }
            .mui-card-content .block .mui-input-row {
                position: relative;
            }
            .mui-card-content .block .mui-pull-left {
                width: 35% !important;
            }
            .mui-card-content .block .mui-pull-right {
                width: 60% !important; 
            }
        </style>
    </head>
    <body>
        <div id="app">
			<header class="mui-bar mui-bar-nav">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h1 class="mui-title">编辑销售信息</h1>
				<span class="save-btn mui-pull-right">
                    <button @click="saveInfo" type="button" class="mui-btn mui-btn-success mui-btn-outlined">保存</button>
                </span>
			</header>
			<main class="mui-content">
				<section class="container">
					<div class="title">
                        <p class="gray"></p>
                        <div>{{productName}}</div>
                    </div>
					<div class="content">
						<ul class="list-unstyle">
							<li>
								<span class="gray">产品订单号：</span>
								<span>{{pOrderNo}}</span>
							</li>
							<li>
								<span class="gray">预计服务完成时间：</span>
								<span>{{orderSaleDate}}</span>
                            </li>
                            <li class="price-container">
                                <h3><small>￥</small><span>{{amount}}</span></h3>
                                <span v-if="orderStatus==2"> {{channelName}}</span>
                            </li>
						</ul>
					</div>
                </section>
                <p class="form-title">关联订单</p>
                <section class="content">
                    <ul class="mui-table-view">
                        <li class="mui-table-view-cell">
                            <div class="mui-navigate-right">
                                <div class="mui-pull-left personal-list-key">产品名称</div>
                                <input @click="selectProduct" readonly class="mui-pull-right" placeholder="请选择产品" v-model="productName">
                            </div>
                        </li>
                        <li class="mui-table-view-cell">
                            <div class="mui-navigate-right">
                                <div class="mui-pull-left personal-list-key">预计服务完成时间</div>
                                <input @click="selectDate" readonly class="mui-pull-right" placeholder="请输入时间" v-model="orderSaleDate">
                            </div>
                        </li>
                        <li class="mui-table-view-cell">
                            <div class="mui-navigate-right groupDate">
                                <div class="mui-pull-left personal-list-key">导游</div>
                                <input @click="selectGuide" readonly class="mui-pull-right" placeholder="请选择导游" v-model="tourGuide">
                            </div>
                        </li>
                        <li class="mui-table-view-cell">
                            <div>
                                <div class="mui-pull-left personal-list-key">产品订单号</div>
                                <span class="mui-pull-right" v-text="pOrderNo || '尚未关联'"></span>
                            </div>
                        </li>
                    </ul>
                </section>
                <!-- <p class="form-title">订单补全</p> -->
                
                <div class="sales-list">
                    <div class="mui-card mui-card-outer">
                        <div class="mui-card-header">
                            订单补全
                        </div>
                        <div class="mui-card-content-outer">
                            <div class="block" v-for="(item, index) in salesOrderTxList" :key="index">
                                <div class="mui-card mui-card-inner">
                                    <div class="mui-card-content">
                                        <div class="block">
                                            <div class="mui-input-row sales-type" :data-index="index">
                                                <label class="mui-pull-left" for="">销售类型</label>
                                                <input class="mui-pull-right" type="text" placeholder="销售类型" v-model="item.remark" readonly />
                                            </div>
                                            <div class="mui-input-row sales-size" :data-index="index">
                                                <label class="mui-pull-left" for="">销售尺寸</label>
                                                <input class="mui-pull-right" type="text" placeholder="销售尺寸" v-model="item.argDictName" readonly />
                                            </div>
                                            <div class="mui-input-row" :data-index="index">
                                                <label class="mui-pull-left" for="">数量</label>
                                                <input class="mui-pull-right" type="text" placeholder="数量" v-model="item.nums" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span class="mui-icon mui-icon-close remove-salesNum" v-if="saleRemoveIconShow" @tap="removeSaleItem(index)" :data-index="index"></span>
                            </div>
                        </div>
                    </div>
                    <div style="display: flex; justify-content: center;">
                        <button type="button" class="mui-btn  add-salesNum " @tap="addSaleItem">添加产品</button>
                    </div>
                </div>

                <!-- <section class="content">
                    <ul class="mui-table-view">
                        <li class="mui-table-view-cell">
                            <div class="mui-input-row">
                                <label class="order-pay-list-key">销售类型</label>
                                <select class="order-pay-list-value" v-model="remark" placeholder="请选择销售类型">
                                    <option value="相片">相片</option>
                                    <option value="相框">相框</option>
                                    <option value="相片+相框">相片+相框</option>
                                </select>
                            </div>
                        </li>
                        <li class="mui-table-view-cell">
                            <div class="mui-input-row">
                                <label class="order-pay-list-key">销售尺寸</label>
                                <select class="order-pay-list-value" v-model="argDictId" placeholder="请选择销售尺寸">
                                    <option v-for="(value, key) in sizeOptions" :value="key">{{value}}</option>
                                </select>
                            </div>
                        </li>
                        <li class="mui-table-view-cell">
                            <div class="mui-navigate-right groupDate">
                                <div class="mui-pull-left personal-list-key">销售张数</div>
                                <input type="number" class="mui-pull-right" placeholder="请输入销售张数" v-model="nums">
                            </div>
                        </li>
                    </ul>
                </section> -->
                <!-- <section class="content">
                    <ul class="mui-table-view">
                        <li class="mui-table-view-cell">
                            <div class="mui-input-row">
                                <label class="order-pay-list-key">赠送类型</label>
                                <select class="order-pay-list-value" v-model="remark" placeholder="请选择赠送类型">
                                    <option value="相片">相片</option>
                                    <option value="相框">相框</option>
                                    <option value="相片+相框">相片+相框</option>
                                </select>
                            </div>
                        </li>
                        <li class="mui-table-view-cell">
                            <div class="mui-input-row">
                                <label class="order-pay-list-key">赠送尺寸</label>
                                <select class="order-pay-list-value" v-model="argDictId" placeholder="请选择赠送尺寸">
                                    <option v-for="(value, key) in sizeOptions" :value="key">{{value}}</option>
                                </select>
                            </div>
                        </li>
                        <li class="mui-table-view-cell">
                            <div class="mui-navigate-right groupDate">
                                <div class="mui-pull-left personal-list-key">赠送张数</div>
                                <input type="number" class="mui-pull-right" placeholder="请输入赠送张数" v-model="givesNum">
                            </div>
                        </li>
                    </ul>
                </section> -->
                <section class="content">
                    <ul class="mui-table-view">
                        <li class="mui-table-view-cell">
                            <div class="mui-navigate-right">
                                <div class="mui-pull-left personal-list-key">销售人数</div>
                                <input type="number" class="mui-pull-right" placeholder="请输入销售人数" v-model="salePersonnelNum">
                            </div>
                        </li>
                    </ul>
                </section>
                <section class="content">
                    <ul class="mui-table-view">
                        <li class="mui-table-view-cell">
                            <div class="mui-navigate-right">
                                <div class="mui-pull-left personal-list-key">销售</div>
                                <input @click="selectSale" readonly class="mui-pull-right" placeholder="请选择销售" v-model="saleName">
                            </div>
                        </li>
                    </ul>
                </section>
			</main>
		</div>
        <script src="../../assets/js/mui.min.js"></script>
        <script src="../../assets/js/mui.picker.min.js"></script>
		<script src="../../assets/js/framework/define.js"></script>
		<script src="../../assets/js/framework/styles.js"></script>
		<script src="../../assets/js/framework/common.js"></script>
		<script src="../../assets/js/framework/lf.js"></script>
		<script src="../../assets/libs/vue.min.js"></script>
		
    </body>
</html>