<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../assets/css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../../assets/css/order/search.css" />
		<link href="../../assets/css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/app.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/mui.picker.min.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/mui.poppicker.css" />
		<style>
			.search-box ::placeholder {
				color: #fff;
			}
		</style>
	</head>

	<body>
		<div id="app" class="mui-content search">
		<header class="mui-bar mui-bar-nav search-header" style="display: flex; align-items: center;">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #fff;"></a>
			<!-- <span class="search-lien"></span> -->
			<!-- <div class="search-box mui-input-row  group-info">
				<span class="mui-icon mui-icon-search" style="color: #fff;"></span>
				<input type="text" v-model="searchText" style="color: #fff;" placeholder="订单号／团号／导游姓名／导游电话" class="mui-input-clear search-input"/>
			</div> -->
		</header>
		
			<div class="mui-input-group" style="margin-top: 50px;">
				<div class="search-order-detail">
			    	<div class="mui-input-row  group-info">
				        <label>生成开始时间</label>
						<input v-model="startTime " type="text" class="order-date-begin" readonly="readonly" />
						<span class="order-date right-arrow mui-icon mui-icon-arrowright"></span>
					</div>
					<div class="mui-input-row  group-info">
						<label>生成结束时间</label>
						<input v-model="endTime " type="text" class="order-date-end" readonly="readonly" />
						<span class="order-date right-arrow mui-icon mui-icon-arrowright"></span>
					</div>
				</div>
			</div>
			
			<div class="mui-content-padded" style="text-align: center;">
				<button id="search-btn" class="mui-btn search-btn mui-btn-block">搜索</button>
			</div>
		</div>
		<script src="../../assets/js/mui.min.js"></script>
		<script src="../../assets/js/mui.pullToRefresh.js"></script>
		<script src="../../assets/js/mui.pullToRefresh.material.js"></script>
		<script src="../../assets/js/mui.picker.min.js"></script>
		<script src="../../assets/js/framework/define.js"></script>
		<script src="../../assets/js/framework/styles.js"></script>
		<script src="../../assets/js/framework/lf.js"></script>
		<script src="../../assets/js/framework/common.js"></script>
		<script src="../../assets/libs/vue.min.js"></script>
	</body>

</html>
