.mui-bar-footer{
    height: 54px;
}

.mui-btn-primary{
    width: 100%;
    background-color: #3eb392;
    border-color:#3eb392;
    padding: 10px 12px 10px !important;
}

.mui-bar + main.mui-content {
    padding-bottom: 70px;
}

.mui-content .block {
    /* border: 1px solid red; */
    background: #fff;
    margin-top: 15px;
    font-size: 0.28rem;
}
.mui-content .block input {
    font-size: 0.28rem;
}

.block .block-date {
    padding: 11px 15px;
    font-size: 0.28rem;
}
.block .block-date .mui-icon {
    color: #3eb392;
}