.mui-bar-footer{
    height: 54px;
}

.mui-btn-primary{
    width: 100%;
    background-color: #3eb392;
    border-color:#3eb392;
    padding: 10px 12px 10px !important;
}

.mui-bar + main.mui-content {
    padding-bottom: 70px;
}

.version {
    text-align: center
}

.section-container {
    margin-top: 10px;
}
.section-1 {
    background: #fff;
}
.section-1>div {
    padding: 11px 15px;
    display: flex;
}
.section-1 div {
    text-align: center;
    /* border-right: 1px solid red; */
}
.section-1 .week {
    flex: 1;
}
.section-1 .day {
    flex: 1;
}
.section-1 .date {
    flex: 4;
}
.section-1 .today {
    flex: 1;
}

.section-2 {
    /* border: 1px solid blue; */
}
.section-2 .table-item {
    display: flex;
    /* border: 1px solid red; */
}
.section-2 .table-item .left-part {
    display: flex;
    align-items: center;
    flex: 3;
    font-size: 0.3rem;
    /* border: 1px solid red; */
}
.section-2 .table-item .right-part {
    flex: 2;
    font-size: 0.28rem;
    /* border: 1px solid red; */
    text-align: right;
    padding-right: 30px;
}
.section-2 .table-item .right-part .summary {
    color: #3eb392;
}

.section-3 {

}
.section-3 .title {
    background: #fff;
    padding: 10px;
    color: #3eb392;
}
.section-3 .mui-table-view-cell.mui-active {
    background-color: #fff;
}
.section-3 .mui-table-view .mui-table-view-cell {
    display: flex;
}
.section-3 .mui-table-view .mui-table-view-cell:after {
    right: 15px;
}
.section-3 .mui-table-view .mui-table-view-cell div {
    /* flex: 1; */
    text-align: center;
    /* border-right: 1px solid red; */
}
.section-3 .mui-table-view .mui-table-view-cell div:nth-child(1) {
    flex: 1.3;
}
.section-3 .mui-table-view .mui-table-view-cell div:nth-child(2) {
    flex: 1;
}
.section-3 .mui-table-view .mui-table-view-cell div:nth-child(3) {
    flex: 1;
}
.section-3 .mui-table-view .mui-table-view-cell div:nth-child(4) {
    flex: 2;
}    

.section-3 .mui-table-view .table-header {
    font-size: 0.30rem;
}
.section-3 .mui-table-view .table-item {
    font-size: 0.3rem;
}