.mui-scroll {
    padding: 0 15px 10px;
}
.section {
    border: 1px solid #ccc;
    background: #fff;
    padding: 10px 15px;
    margin-top: 10px;
    font-size: 0.3rem;
    border-radius: 5px;
    // color: #888;
    &>div {
        display: flex;
        &>div {
            // display: flex;
            height: 0.6rem;
            line-height: 0.6rem;
            flex: 1;
            // border: 1px solid red;
        }
        &>div:nth-child(1) {
            flex: 1;
        }
        &>div:nth-child(2) {
            flex: 2;
            text-align: right;
        }
    }
    ul {
        list-style: none;
        padding: 0 15px;
        margin: 0;
        padding: 0;
        li {
            border-bottom: 1px solid #ccc;
            &>div {
                display: flex;
                &>div {
                    // display: flex;
                    height: 0.6rem;
                    line-height: 0.6rem;
                    flex: 1;
                    // border: 1px solid red;
                }
                &>div:nth-child(1) {
                    flex: 1;
                }
                &>div:nth-child(2) {
                    flex: 2;
                    text-align: right;
                }
            }
            &:last-child {
                border: none;
            }
        }
    }
    .table {
        height: 1.2rem;
        border-top: 1px solid #ccc;
        margin-top: 5px;
        padding-top: 5px;
        &>div {
            &>div {
                height: 0.6rem;
                line-height: 0.6rem;
                text-align: center;
            }
        }
    }
}
