<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/order-entering/add-detail.css" />
		<link rel="stylesheet" type="text/css" href="../../css/app.css" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.picker.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.poppicker.css" />
	</head>

	<body>	
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">销售明细</h1>
		</header>
		<div id="addDetailData" class="mui-content detail-container">
			<div class="mui-input-group">
			<div class="mui-input-row give-number group-info">
		        <label>照片尺寸：</label>
				<input type="text" v-model='picSize' class="mui-input-clear select-number" readonly="readonly" placeholder="请选择尺寸"/>
		        <span class="mui-icon mui-icon-arrowdown size-icon"></span>
		    </div>
		    <div class="mui-input-row">
		        <label>销售单价：</label>
		        <input type="number" v-model="price" class="mui-input-clear" placeholder="请输入销售单价">
		    </div>
			<div class="mui-input-row">
		        <label>销售数量：</label>
		        <input type="number" v-model="picNum" class="mui-input-clear" placeholder="请输入销售数量">
		    </div>
			</div>
				<div class="login-btn-box"><button  type="button"id="result" class="mui-btn login-pass-btn">保存</button></div>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/mui.picker.min.js"></script>
		<script src="../../js/framework/define.js"></script>
		<script src="../../js/framework/styles.js"></script>
		<script src="../../js/framework/lf.js"></script>
		<script src="../../libs/vue.min.js"></script>
		<script src="../../js/framework/common.js"></script>
		<script type="text/javascript">
            var vm = new Vue({
                el: '#addDetailData',
                data: {
					picSize: '',
			        price: '',
			        picNum: ''
                },
            })
            lf.ready(function() {
				var opts = {"type":"date"}
                picker = new mui.DtPicker(opts);
                userPicker = new mui.PopPicker();
                userPicker.setData([{
                    value: '1',
                    text: '16寸'
                }, {
                    value: '2',
                    text: '12寸'
                }, {
                    value: '3',
                    text: '10寸'
                }, {
                    value: '4',
                    text: '8寸'
                }, {
                    value: '5',
                    text: '6寸'
                }
                ]);
            })
            mui('.group-info').on('tap','.select-number',function(){
                userPicker.show(function(items) {
                    vm.picSize = items[0].text
                });
            })
 			mui('.detail-container').on('tap','.login-pass-btn',function(){
				lf.window.openWindow('resultData','result.html',{},{
					picSize: vm.picSize,
			        price: vm.price,
			        picNum: vm.picNum
				})
			})
            document.getElementById('result').addEventListener('tap',function(){
            	if(!vm.picSize){
            		lf.nativeUI.toast('请选择照片尺寸')
					return
            	}
            	if(!vm.price){
            		lf.nativeUI.toast('请选择销售单价')
					return
            	}
            	if(!vm.picNum){
            		lf.nativeUI.toast('请选择销售数量')
					return
            	}
            })
			
		</script>
	</body>

</html>