<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link href="../../assets/css/mui.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../../assets/css/mui.picker.min.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/mui.poppicker.css" />
    <link href="../../assets/css/app.css" rel="stylesheet"/>
    <link href="../../assets/css/order-pay/order-list.css" rel="stylesheet"/>
    <style>
        .hide {
            display: none
        }
        .mui-card-header{
            background: #3eb392;
            /* font-size: 0.32rem; */
            color: #fff;
        }
        .mui-content .block {
            position: relative;
        }
        .mui-content .block .mui-icon-close {
            position: absolute;
            top: -8px;
            right: 0px;
            background: #fff;
            border-radius: 50%;
        }
        .sales-list {
            background: #fff;
            padding-top: 1px;
            padding-bottom: 10px;
        }
        .mui-card-content .block .mui-input-row {
            position: relative;
        }
        .mui-card-content .block .mui-pull-left {
            width: 35% !important;
        }
        .mui-card-content .block .mui-pull-right {
            width: 60% !important; 
        }
    </style>
</head>
<body>
    <header id="order-pay-header" class="mui-bar mui-bar-nav">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <h1 class="mui-title">销售订单</h1>
    </header>
    <div class="mui-content order-pay-content" id="app">
         <div class="order-pay-paying">
            <div class="sales-list">
                <div class="mui-card mui-card-outer">
                    <div class="mui-card-header">
                        销售数量
                    </div>
                    <div class="mui-card-content-outer">
                        <div class="block" v-for="(item, index) in salesOrderTxList" :key="index">
                            <div class="mui-card mui-card-inner">
                                <div class="mui-card-content">
                                    <div class="block">
                                        <div class="mui-input-row sales-type" :data-index="index">
                                            <label class="mui-pull-left" for="">销售类型</label>
                                            <input class="mui-pull-right" type="text" placeholder="销售类型" v-model="item.remark" readonly />
                                        </div>
                                        <div class="mui-input-row sales-size" :data-index="index">
                                            <label class="mui-pull-left" for="">销售尺寸</label>
                                            <input class="mui-pull-right" type="text" placeholder="销售尺寸" v-model="item.argDictName" readonly />
                                        </div>
                                        <div class="mui-input-row" :data-index="index">
                                            <label class="mui-pull-left" for="">数量</label>
                                            <input class="mui-pull-right" type="text" placeholder="数量" v-model="item.nums" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="mui-icon mui-icon-close remove-salesNum" v-if="saleRemoveIconShow" @tap="removeSaleItem(index)" :data-index="index"></span>
                        </div>
                    </div>
                </div>
                <div style="display: flex; justify-content: center;">
                    <button type="button" class="mui-btn  add-salesNum " @tap="addSaleItem">添加产品</button>
                </div>
            </div>

             <ul class="mui-table-view" style="margin-top: 20px;">
                <div class="mui-input-row">
                    <label class="order-pay-list-key">销售人数</label>
                    <input type="number" class="mui-input-clear order-pay-list-value" v-model="salePersonnelNum" placeholder="请输入人数">
                </div>
                 <div class="mui-input-row">
                     <label class="order-pay-list-key">金额</label>
                     <input type="number" class="mui-input-clear order-pay-list-value" v-model="amount" placeholder="请输入销售金额">
                 </div>
             </ul>
 
             <ul class="mui-table-view logout">
                 <li class="mui-table-view-cell" @click="handlePay(0)">
                     <div class="mui-pull-left order-pay-list-key"><img class="pay-icon" src="../../assets/css/images/sell_cash.png" alt=""> 现金支付</div>
                 </li>
                 <li class="mui-table-view-cell" @click="handlePay(1)">
                     <div class="mui-pull-left order-pay-list-key"><img class="pay-icon" src="../../assets/css/images/sell_wechat.png" alt=""> 微信支付</div>
                 </li>
                 <li class="mui-table-view-cell" @click="handlePay(2)">
                     <div class="mui-pull-left order-pay-list-key"><img class="pay-icon" src="../../assets/css/images/sell_alipay.png" alt=""> 支付宝支付</div>
                 </li>
             </ul>
         </div>
 
         <!-- 支付弹窗 -->
         <div class="order-pay-dialog hide" id="pay-dialog" v-show="isPaying">
             <div class="order-pay-dialog-header">
                 <h2>{{payName}}</h2>
                 <p><span>{{amount}}</span>元</p>
             </div>
     
             <div class="order-pay-dialog-qrcode">
                 <div id="qrcode-img" style="margin: 0 auto; width: 200px; padding-top: 50px"></div>
             </div>
         </div>
 
         <div class="pay-mask hide" id="pay-mask" v-show="isPaying" style="position: absolute; top:0; bottom:0; left:0; right:0; z-index:2; background: rgba(0,0,0,.5)"></div>
     </div>

    

    <script src="../../assets/js/mui.min.js"></script>
    <script src="../../assets/js/mui.picker.min.js"></script>
    <script src="../../assets/js/mui.zoom.js"></script>
    <script src="../../assets/js/mui.previewimage.js"></script>
    <script src="../../assets/js/framework/define.js"></script>
    <script src="../../assets/js/framework/styles.js"></script>
    <script src="../../assets/js/framework/lf.js"></script>
    <script src="../../assets/js/framework/qrcode.min.js"></script>
    <script src="../../assets/libs/vue.min.js"></script>
     
</body>
</html>