<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link href="../../assets/css/mui.min.css" rel="stylesheet" />
    <link href="../../assets/css/app.css" rel="stylesheet"/>
    <link href="../../assets/css/order-pay/order-list.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../../assets/css/correlate-order/order-details.css">
    <style>
        .hide {
            display: none
        }
        #quick-sale-list {
            color: #3db391;
            padding-top: 10px;
            display: inline-block;
        }
        .mui-bar .mui-title {
            right: 80px;
        }
    </style>
</head>
<body>
    <div id="app">
    <header id="order-pay-header" class="mui-bar mui-bar-nav">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <h1 class="mui-title">{{$t('sales_order')}}</h1>
        <a id="menu" style="color: #191919;" class="mui-action-menu mui-icon  mui-pull-right mui-icon-more" href="#topPopover"></a>
    </header>
    
    
    <div class="mui-content order-pay-content">
        <section class="container">
            <div class="title">{{productName}}</div>
            <div class="content">
                <ul class="list-unstyle">
                    <li>
                        <span class="gray">{{$t('product_order_no')}}：</span>
                        <span>{{pOrderNo}}</span>
                    </li>
                    <li>
                        <span class="gray">{{$t('anticipated_service_completion_time')}}：</span>
                        <span>{{orderSaleDate}}</span>
                    </li>
                    <li class="clearfix">
                        <div class="left">
                            <span class="gray">{{$t('tour_guide')}}：</span>
                            <span>{{guideName}}</span>
                        </div>
                        <div class="right">
                            <a v-if="guidePhone" style="display:block; color: #FF8458; margin-left: 0.1rem;">		
                                <img src="../../assets/images/order/call_btn.png" alt="">
                                <span class="orange">{{guidePhone}}</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="container price-container">
            <h3><small>￥</small><span>{{amount}}</span></h3>
            <span class="badge" v-bind:class="payStatusClass(orderStatus)">{{payStatus(orderStatus)}}</span>
        </section>
        <section class="container">
            <div class="content">
                <ul class="list-unstyle">
                    <li>
                        <span class="gray">{{$t('sales_information')}}：</span>
                        <p v-for="(item, key) in salesOrderTxList" ::key="key">
                            <span ><span>{{item.typeName}}</span> <span>{{item.sizeName}} </span> <span>{{item.nums}}</span>张 &nbsp; </span>
                        </p>
                    </li>
                    <!-- <li>
                        <span class="gray">赠送信息：</span>
                        <span><span></span> <span v-text="givesNum || '无赠送'"></span><span v-if="givesNum">张 &nbsp; </span></span>
                    </li> -->
                    <li>
                        <span class="gray">{{$t('sale_number_purchaser')}}/{{$t('family')}}：</span>
                        <span>{{salePersonnelNum}}</span>
                    </li>
                    <li v-if="orderStatus == 2">
                        <span class="gray">{{$t('payment')}}：</span>
                        <span>{{channelName}}</span>
                    </li>
                </ul>
            </div>
            <div class="content border-top">
                <ul class="list-unstyle">
                    <li>
                        <span class="gray">{{$t('sales_order_no')}}：</span>
                        <span class="gray">{{orderNo}}</span>
                    </li>
                    <li>
                        <span class="gray">{{$t('order_time')}}：</span>
                        <span class="gray">{{orderTime}}</span>
                    </li>
                </ul>
            </div>
        </section>
        <p class="pay-title" v-if="orderStatus == 1">{{$t('payment')}}</p>
        <section class="container" v-if="orderStatus == 1">
            <ul class="mui-table-view logout">
                <li class="mui-table-view-cell" @click="handlePay(0)">
                    <div class="mui-pull-left order-pay-list-key"><img class="pay-icon" src="../../assets/css/images/sell_cash.png" alt=""> {{$t('cash_payment')}}</div>
                </li>
                <li class="mui-table-view-cell" @click="handlePay(1)">
                    <div class="mui-pull-left order-pay-list-key"><img class="pay-icon" src="../../assets/css/images/sell_wechat.png" alt=""> {{$t('wechat_payment')}}</div>
                </li>
                <li class="mui-table-view-cell" @click="handlePay(2)">
                    <div class="mui-pull-left order-pay-list-key"><img class="pay-icon" src="../../assets/css/images/sell_alipay.png" alt=""> {{$t('alipay_payment')}}</div>
                </li>
            </ul>
        </section>
        <div id="topPopover" class="mui-popover">
            <button class="edit" @click="edit">{{$t('edit')}}</button>
            <button v-if="saleOrderId&&verificationStatus!=2&&orderStatus!=3&&!(channelName == '微信支付'&&orderStatus == 2)" @click="handleCancelPay">{{$t('cancel_order')}}</button>
        </div>
        <!-- 支付弹窗 -->
        <div class="order-pay-dialog hide" id="pay-dialog" v-show="isPaying">
            <div class="order-pay-dialog-header">
                <h2>{{payName}}</h2>
                <p><span>{{amount}}</span>元</p>
            </div>
    
            <div class="order-pay-dialog-qrcode">
                <div id="qrcode-img" style="margin: 0 auto; width: 200px; padding-top: 50px"></div>
            </div>
        </div>

        <div class="pay-mask hide" id="pay-mask" v-show="isPaying" style="position: absolute; top:0; bottom:0; left:0; right:0; z-index:2; background: rgba(0,0,0,.5)"></div>
    </div>
</div>
    <script src="../../assets/js/mui.min.js"></script>
    <script src="../../assets/js/mui.zoom.js"></script>
    <script src="../../assets/js/mui.previewimage.js"></script>
    <script src="../../assets/js/framework/define.js"></script>
    <script src="../../assets/js/framework/styles.js"></script>
    <script src="../../assets/js/framework/lf.js"></script>
    <script src="../../assets/js/framework/qrcode.min.js"></script>
    <script src="../../assets/libs/vue.min.js"></script>
    <script src="../../assets/libs/vue-i18n.js"></script>
    <script src="../../assets/i18n/language.js"></script>
</body>
</html>