#personal-header {
    background-color: #3db391;

    .mui-action-menu {
        color: #fff;
    }
}

#personal-header-setting {
    background-color: #fff;

    .mui-title {
        color: #333;
    }

    .mui-action-back {
        color: #333 !important;
    }
}

.personal-content {
    .mui-table-view {
        margin-bottom: 20px;
    }
    .personal-avatar {
        width: 60px;
        height: 60px;
    }
    .personal-list-key {
        color: #666;
        font-size: 0.32rem;
    }
    .personal-list-value {
        color: #bbb;
        font-size: 0.2rem;
    }
    .mui-btn-block {
        background-color: #3db391;
        color: #fff;
        border: none;
    }
}