@import "./mui-preview";
.schedule-details {
  font-size: 0.76rem;
  background-color: #fff;
  padding: 0 0.6rem;
  margin: 5px;
  .title{
    font-size: 1rem;
  }
  .time{
    font-size: 12px;
    color: #E0E0E0;
  }
  .img-wrap {
    padding: 0.6rem 0;
    overflow: hidden;
    .pro {
      float: left;
      margin-right: 9px;
      margin-bottom: 9px;
      width: 79px;
      height: 79px;
      background: no-repeat center center;
      background-size: cover;
    }
  }
  .summary{
    padding-bottom: 0.4rem;
  }
}