p{
    margin:0;
}
.bgwhite{
    background-color: #fff;
}
.save-btn{
    display: block;
    height: 44px;
    line-height: 44px;
}
.save-btn > button {
    color: #3eb392!important;
    border-color: #3eb392;
    font-size: 14px;
    padding: 3px 10px!important;
}
.save-btn > button:active{
    color: #3eb392!important;
    border-color: #3eb392;
    background-color: #fff;
}
.info{
    padding-top: 10px;
    border-top: 1px solid #eeeeee;
}
.info .date{
    padding: 12px 15px;
    font-size: 16px;
    color: #555;
}
.info .date img {
    width: 16px;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -3px;
}
.remark{
    position: relative;
    padding:0 15px;
}
.remark > p{
    position: absolute;
    right: 25px;
    bottom: 10px;
}
#remark{
    background-color: #F6F6F6;
    color: #999;
    padding: 15px 10px;
    margin: 0;
    box-sizing: border-box;
    border-color: #eeeeee;
    height: 120px;
    font-size: 14px;
}