<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>订单详情</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.picker.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.poppicker.css" />
		<link rel="stylesheet" type="text/css" href="../../css/app.css" />
		<link rel="stylesheet" type="text/css" href="../../css/order/orderdetails.css" />
	</head>

	<body  class="orderdetails">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">订单详情</h1>
		</header>
	
		<div id="app"  class="mui-content">		
			<div class="topbar">
				<!--1：已支付 2：已确认 3：已取消 4：已指派 5：已录入 6：已分配 7：已完成-->
				<div v-show='orderInfo.status == 1||orderInfo.status == 2||orderInfo.status == 4||orderInfo.status == 5||orderInfo.status == 6' class="mod pending">
					<div class="title">等待你的执行</div>
					<div class="intro">订单到达你手中已经<span v-text="timeConsume"></span></div>
					<span class="ico ico-pending"></span>
				</div>
				<div v-show='orderInfo.status == 3' class="mod cancled">
					<div class="title">该订单已取消</div>
					<div  class="intro">你的订单已经取消，请进行其他操作</div>
					<span class="ico ico-cancled"></span>
				</div>
				<div v-show='orderInfo.status == 7' class="mod completed">
					<div class="title">该订单已完成</div>
					<div  class="intro">你的订单已完成</div>
					<span class="ico ico-completed"></span>
				</div>
			</div>
			<div class="content">
				<div class="mui-card">
					<div class="mui-card-header">
						<span class="border-left">订单基本信息</span></div>
					<div class="mui-card-content">
						<div class="mui-card-content-inner">
							<div class="item">
								<label>订单号：</label>
								<span v-text="orderInfo.orderNo"></span>
							</div>
							<div class="item">
								<label>订单状态：</label>
								<!--1：已支付 2：已确认 3：已取消 4：已指派 5：已录入 6：已分配 7：已完成-->
								<span v-if="orderInfo.status ==1">已支付</span>
								<span v-if="orderInfo.status ==2">已确认</span>
								<span v-if="orderInfo.status ==3">已取消</span>
								<span v-if="orderInfo.status ==4">已指派</span>
								<span v-if="orderInfo.status ==5">已录入</span>
								<span v-if="orderInfo.status ==6">已分配</span>
								<span v-if="orderInfo.status ==7">已完成</span>
							</div>
							<div class="item">
								<label>订单执行状态：</label>
								<span v-if="orderInfo.actionStatus == 0">待处理</span>
								<span v-if="orderInfo.actionStatus == 1">已完成计调</span>
								<span v-if="orderInfo.actionStatus == 2">已分配摄影师</span>
								<span v-if="orderInfo.actionStatus == 3">已完成拍照</span>
								<span v-if="orderInfo.actionStatus == 4">已完成输出</span>
							</div>
							<div class="item">
								<label>订单金额：</label>
								<span v-text="orderInfo.totalPrice"></span><span>元</span>
							</div>
							<div class="item">
								<label>下单时间：</label>
								<span v-text="orderInfo.createTime"></span>
							</div>
							<div class="item routeinfo">
								<label>产品名称：</label>
								<div v-text="orderInfo.productName"></div>
							</div>
							<div class="item routeinfo">
								<label>线路名称：</label>
								<div v-text="orderInfo.lineName"></div>
							</div>
							<div class="item routeinfo">
								<label>采购方：</label>
								<div v-text="orderInfo.purchaser"></div>
							</div>
							<div class="item">
								<label>导游：</label>
								<span  v-text="orderInfo.tourGuide"></span>
							</div>
							<div class="item">
								<label>导游电话：</label>
								<span  v-text="orderInfo.tourGuidePhone"></span>
							</div>
						</div>
					</div>
				</div>

				<div class="mui-card">
					<div class="mui-card-header"><span class="border-left">订单计调信息</span></div>
					<div class="mui-card-content">
						<div class="mui-card-content-inner">
							<div class="item">
								<label>团人数：</label>
								<span v-text="orderTrackInfo.personCount"></span>
							</div>
							<div class="item routeinfo">
								<label>团性质：</label>
								<div  v-text="orderTrackInfo.groupType"></div>
							</div>
							<div class="item">
								<label>行程天数：</label>
								<span v-text="orderTrackInfo.groupDays"></span>
							</div>
							<div class="item routeinfo">
								<label>行程信息：</label>
								<div v-html="orderTrackInfo.groupRoute"></div>
							</div>
							<div class="item">
								<label>车牌号码：</label>
								<span v-text="orderTrackInfo.busCardNo"></span>
							</div>
							<div class="item">
								<label>预留座位：</label>
								<span  v-text="orderTrackInfo.preReservedSeats"></span>
							</div>
							<div class="item">
								<label>取片时间：</label>
								<span  v-text="orderTrackInfo.fetchPhotoTime"></span>
							</div>
							<div class="item">
								<label>取片地点：</label>
								<span  v-text="orderTrackInfo.fetchPhotoScene"></span>
							</div>
							<div class="item">
								<label>拍摄信息：</label>
								<table class="sale-table" border="1" width="70%">
								<tr class="table-hd">
									<td>拍摄地点</td>
									<td>拍摄时间</td>
								</tr>
								<tr v-for="item in orderTrackInfo.lineSight">
									<td v-text="item.journeyName"></td>
									<td>
										<span v-text="item.shootTime"></span>
										<span v-if="item.periodType==0">全天</span>
										<span v-if="item.periodType==1">上午</span>
										<span v-if="item.periodType==2">下午</span>
										<span v-if="item.periodType==3">晚上</span>
									</td>
								</tr>
							</table>
							</div>
						</div>
					</div>
				</div>
				<div class="mui-card" style="margin-bottom: 0;">
					<div class="mui-card-header"><span class="border-left">
						订单销售输出</span></div>
				</div>
				<div v-if="outPutStatus==1" class="mui-card">
					<div class="mui-card-content">
						<div class="mui-card-content-inner">
							<div class="item">
								<label>销售日期：</label>
								<span v-text="orderResult.saleDate"></span>
							</div>
							<div class="item">
								<label>打印张数：</label>
								<span v-text="orderResult.printsNum"></span>
							</div>
							<div>
								<table width="70%" class="sale-table" border="1">
								<tr class="table-hd">
									<td>尺寸</td>
									<td>数量</td>
								</tr>
								<tr v-for="item in orderResult.printOrderXms">
									<td v-text="item.picSizeName"></td>
									<td v-text="item.picNum"></td>
								</tr>
							</table>
							</div>
							<div class="item">
								<label>销售张数：</label>
							</div>
							<div>
								<table  class="sale-table" border="1" width="70%" class="sale-table" border="1">
								<tr class="table-hd">
									<td>尺寸</td>
									<td>数量</td>
								</tr>
								<tr v-for="item in orderResult.salesOrderXms">
									<td v-text="item.picSizeName"></td>
									<td v-text="item.picNum"></td>
								</tr>
							</table>
							</div>
							<div class="item">
								<label>赠送张数：</label>
							</div>
							<div>
								<table  width="70%" class="sale-table" border="1">
								<tr class="table-hd">
									<td>尺寸</td>
									<td>数量</td>
								</tr>
								<tr v-for="item in orderResult.shotOrderXms">
									<td v-text="item.picSizeName"></td>
									<td v-text="item.picNum"></td>
								</tr>
								</table>
							</div>
							<div class="item">
								<label>销售人数：</label>
								<span v-text="orderResult.buyers"></span><span>人</span>
							</div>
							<div class="item">
								<label>销售总额：</label>
								<span v-text="orderResult.salesAmt"></span>
							</div>
						</div>
					</div>
				</div>

				<div v-if="outPutStatus==2" class="mui-card">
					<div class="mui-card-content">
						<div class="mui-card-content-inner">
							<div class="item routeinfo">
								<label>原因：</label>
								<div v-text='orderResult.noOutReason'></div>
							</div>
							<div class="item routeinfo">
								<label>备注：</label>
								<div v-text='orderResult.saleRemark'></div>
							</div>
						</div>
					</div>
				</div>
				<div class="mui-card">
					<div class="mui-card-header"><span class="border-left">订单拍摄输出</span></div>
					<div class="mui-card-content">
						<div class="mui-card-content-inner">					
							<div class="item">
								<table class="sale-table" border="1" width="90%">
								<tr class="table-hd">
									<td>景点</td>
									<td>摄影师</td>
									<td>数量</td>
								</tr>
								<tr v-for="item in shotOrderOutput" style="font-size: 0.24rem;">
									<td v-text="item.journeyName"></td>
									<td v-text="item.photographerNames"></td>
									<td v-text="item.shootNum"></td>
								</tr>
							</table>
							</div>
						</div>
					</div>
				</div>
				
				<div  class="mui-card">
					<div class="mui-card-header">
						<span class="border-left">其他信息</span></div>
					<div class="mui-card-content">
						<div class="mui-card-content-inner">
							<div>摄影师心得</div>
							<div class="mind">
								<span v-for='item in photographerInfos' :data-photographerId="item.photographerId" :data-orderId="currentOrderId" v-text="item.photographerName" class="photpgrapher-name"></span> 
							<div>
						</div>
					</div>
				</div>

			</div>
			<div class="operate">
				<a class='button' href="#middlePopover"></a>
			</div>
		</div>
		<div v-show="maskShow" class="mask"></div>
		<div v-show="popupShow" class="popup-mod">
				<ul>
					<li v-if='assignRole'>
						<!--<div class="mod assign" :data-orderid="currentOrderId" >
							<div class="ico">指派</div>						
						</div>-->
						<button :disabled="actionStatus != 0 && actionStatus != 1 && actionStatus != 3" :data-orderid="currentOrderId" type="button" class="mui-btn mod assign ico">指派</button>
					</li>
					<li  v-if='allotRole' >
						<!--<div class="mod allot" :data-orderid="currentOrderId">
							<div class="ico">分配</div>	
						</div>-->
						<button :disabled="actionStatus != 1" :data-orderid="currentOrderId" type="button" class="mui-btn mod allot ico">分配</button>
					</li>
					<li  v-if='handleRole'>
						<!--<div class="mod trackinfo" :data-orderNo="currentOrderNo" >
							<div class="ico">计调</div>
						</div>
						:disabled="actionStatus != 0 && actionStatus!=1 && actionStatus!=3"
						-->
						<button :disabled="actionStatus != 0 && actionStatus!=1 && actionStatus!=3&&actionStatus!=4" :data-orderNo="currentOrderNo" type="button" class="mui-btn mod trackinfo ico">计调</button>
					</li>
					<li v-if='cancelRole&&!(orderInfo.status==3||orderInfo.status==7)'>
						<!--<div class="mod cancled" :data-orderid="currentOrderId" >
							<div class="ico">取消</div>
						</div>-->
						<button :disabled="actionStatus != 0 && actionStatus!=1 && actionStatus!=3" :data-orderid="currentOrderId" type="button" class="mui-btn mod cancled ico">取消</button>
					</li>
					<!--<li v-if='confirmRole&&orderInfo.status==1' >
						<div class="mod confirm" :data-orderid="currentOrderId" >
							<div class="ico">确认</div>							
						</div>
						<button :data-orderid="currentOrderId" type="button" class="mui-btn mod confirm ico">确认</button>
					</li>-->
					<li  v-if='feedbackRole'>
						<!--<div class="mod excuteresult" :data-orderid="currentOrderId">
							<div class="ico">输出</div>
						
						</div>-->
						<button :disabled="actionStatus!=3&&actionStatus!=4"  :data-orderid="currentOrderId" type="button" class="mui-btn mod saleout ico">销售输出</button>
					</li>
					<li>
						<!--<div class="mod excuteresult" :data-orderid="currentOrderId">
							<div class="ico">输出</div>
							  v-if='shootFeedbackRole'						
						</div>-->
						<button  :disabled="actionStatus!=3&&actionStatus!=4"   :data-orderid="currentOrderId" type="button" class="mui-btn mod shootout ico">拍摄输出</button>
					</li>
					<li v-if='summaryRole' >
						<!--<div class="mod mind" :data-orderid="currentOrderId" >
							<div class="ico">心得</div>							
						</div>-->
						<button :disabled="actionStatus!=4" :data-orderid="currentOrderId" type="button" class="mui-btn mod mind ico">心得</button>
					</li>

				</div>
			</div>
	
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/mui.picker.min.js"></script>
		<script src="../../js/framework/define.js"></script>
		<script src="../../js/framework/styles.js"></script>
		<script src="../../js/framework/lf.js"></script>
		<script src="../../libs/vue.min.js"></script>
		<script src="../../js/framework/common.js"></script>
		<script src="orderdetails.js"></script>
	</body>

</html>