<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>订单详情</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.picker.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.poppicker.css" />
		<link rel="stylesheet" type="text/css" href="../../css/app.css" />
		<link rel="stylesheet" type="text/css" href="../../css/order/orderdetails.css" />
	</head>

	<body  class="orderdetails">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">订单详情</h1>
		</header>
		<div id="app"  class="mui-content">		
			<div class="topbar">
				<!--1：已支付 2：已确认 3：已取消 4：已指派 5：已录入 6：已分配 7：已完成-->
				<div v-show='orderInfo.status == 1||orderInfo.status == 2||orderInfo.status == 4||orderInfo.status == 5||orderInfo.status == 6' class="mod pending">
					<div class="title">等待你的执行</div>
					<div>订单到达你手中已经<span v-text="timeConsume"></span></div>
					<span class="ico ico-pending"></span>
				</div>
				<div v-show='orderInfo.status == 3' class="mod cancled">
					<div class="title">该订单已取消</div>
					<div>你的订单已经取消，请进行其他操作</div>
					<span class="ico ico-cancled"></span>
				</div>
				<div v-show='orderInfo.status == 7' class="mod completed">
					<div class="title">该订单已完成</div>
					<div>你的订单已完成</div>
					<span class="ico ico-completed"></span>
				</div>
			</div>
			<div class="content">
				<div class="mui-card">
					<div class="mui-card-header">
						<span class="border-left">订单基本信息</span></div>
					<div class="mui-card-content">
						<div class="mui-card-content-inner">
							<div class="item">
								<label>订&nbsp;&nbsp;单&nbsp;&nbsp;号：</label>
								<span v-text="orderInfo.orderId"></span>
							</div>
							<div class="item">
								<label>订单状态：</label>
								<!--1：已支付 2：已确认 3：已取消 4：已指派 5：已录入 6：已分配 7：已完成-->
								<span v-if="orderInfo.status ==1">已支付</span>
								<span v-if="orderInfo.status ==2">已确认</span>
								<span v-if="orderInfo.status ==3">已取消</span>
								<span v-if="orderInfo.status ==4">已指派</span>
								<span v-if="orderInfo.status ==5">已录入</span>
								<span v-if="orderInfo.status ==6">已分配</span>
								<span v-if="orderInfo.status ==7">已完成</span>
							</div>
							<div class="item">
								<label>订单金额：</label>
								<span v-text="orderInfo.totalPrice"></span><span>元</span>
							</div>
							<div class="item">
								<label>下单时间：</label>
								<span v-text="orderInfo.createTime"></span>
							</div>
							<div class="item">
								<label>产品名称：</label>
								<span v-text="orderInfo.productName"></span>
							</div>
							<div class="item">
								<label>线路名称：</label>
								<span v-text="orderInfo.lineName"></span>
							</div>
							<div class="item">
								<label>采&nbsp;&nbsp;购&nbsp;&nbsp;方：</label>
								<span v-text="orderInfo.purchaser"></span>
							</div>
						</div>
					</div>
				</div>

				<div class="mui-card">
					<div class="mui-card-header"><span class="border-left">订单跟踪信息</span></div>
					<div class="mui-card-content">
						<div class="mui-card-content-inner">
							<div class="item">
								<label>团&nbsp;&nbsp;人&nbsp;&nbsp;数：</label>
								<span v-text="orderTrackInfo.personCount"></span>
							</div>
							<div class="item">
								<label>团&nbsp;&nbsp;性&nbsp;&nbsp;质：</label>
								<span  v-text="orderTrackInfo.groupType"></span>
							</div>
							<div class="item">
								<label>导&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;游：</label>
								<span  v-text="orderInfo.tourGuide"></span>
							</div>
							<div class="item">
								<label>行程天数：</label>
								<span v-text="orderTrackInfo.groupDays"></span>
							</div>
							<div class="item">
								<label>行程信息：</label>
								<span v-text="orderTrackInfo.groupRoute"></span>
							</div>
							<div class="item">
								<label>车牌号码：</label>
								<span v-text="orderTrackInfo.busCardNo"></span>
							</div>
							<div class="item">
								<label>预留座位：</label>
								<span  v-text="orderTrackInfo.preReservedSeats"></span>
							</div>
							<div class="item">
								<label>取片时间：</label>
								<span  v-text="orderTrackInfo.fetchPhotoTime"></span>
							</div>
							<div class="item">
								<label>取片地点：</label>
								<span  v-text="orderTrackInfo.fetchPhotoScene"></span>
							</div>
						</div>
					</div>
				</div>

				<div class="mui-card">
					<div class="mui-card-header">
						<span class="border-left">订单执行信息</span></div>
					<div class="mui-card-content">
						<div class="mui-card-content-inner">
							<div class="item">
								<label>选片张数：</label>
								<span v-text="orderResult.selectsNum"></span><span>张</span>
							</div>
							<div class="item">
								<label>打印张数：</label>
								<span v-text="orderResult.printsNum"></span><span>张</span>
							</div>
							<div class="item">
								<label>赠送张数：</label>
								<span v-text="orderResult.givesPicSize"></span><span>寸</span>
								<span v-text="orderResult.givesNum"></span><span>张</span>
							</div>
							<div class="item">
								<label>销售总数：</label>
								<span v-text="orderResult.salesNum"></span><span>张</span>
							</div>
							<div class="item">
								<label>销售总额：</label>
								<span v-text="orderResult.salesAmt"></span><span>元</span>
							</div>
							<div class="item">
								<label >购买人数：</label>
								<span v-text="orderResult.buyers"></span><span>人</span>
							</div>
							<div class="item">
								<label>剩余张数：</label>
								<span v-text="orderResult.leavesNum"></span><span>张</span>
							</div>
							<div class="item">
								<label>客&nbsp;&nbsp;单&nbsp;&nbsp;价：</label>
								<span v-text='unitPrice'></span><span>元</span>
							</div>
							<div class="item">
								<label>照片转化率：</label>
								<span v-text='photoPecent'></span><span>%</span>
							</div>
							<div class="item">
								<label>用户转化率：</label>
								<span v-text='userPecent'></span><span>%</span>
							</div>
						</div>
					</div>
				</div>

				<div class="mui-card">
					<div class="mui-card-header"><span class="border-left">
						销售明细</span></div>
					<div class="mui-card-content">
						<div class="mui-card-content-inner">
							<table class="sale-table" border="1">
								<tr class="table-hd">
									<td>照片尺寸</td>
									<td>单价</td>
									<td>数量</td>
									<td>合计</td>
								</tr>
								<tr v-for="item in orderResult.orderXms">
									<td v-text="item.picSizeName"></td>
									<td>￥<span v-text="item.price"></span></td>
									<td v-text="item.picNum"></td>
									<td>￥<span v-text="item.total"></span></td>
								</tr>
							</table>
						</div>
					</div>
				</div>

				<div class="mui-card">
					<div class="mui-card-header">
						<span class="border-left">其他信息</span></div>
					<div class="mui-card-content">
						<div class="mui-card-content-inner">
							<div>摄影师心得</div>
							<div class="mind">
								<span v-for='item in photographerInfos' :data-id="item.photographerId" v-text="item.photographerName" class="photpgrapher-name"></span> 
							<div>
						</div>
					</div>
				</div>

			</div>
			<div class="operate">
				<a class='button' href="#middlePopover"></a>
			</div>
		</div>
		<div v-show="maskShow" class="mask"></div>
		<div v-show="popupShow" class="popup-mod">
				<ul>
					<li>
						<div class="mod assign" :data-orderid="currentOrderId" v-if='currentRole==0||currentRole==1' >
							<div class="ico">指派</div>
							
						</div>
					</li>
					<li>
						<div class="mod allot" :data-orderid="currentOrderId" v-if='currentRole==0||currentRole==3'>
							<div class="ico">分配</div>
							
						</div>
					</li>
					<li>
						<div class="mod trackinfo" :data-orderid="currentOrderId" v-if='currentRole==0||currentRole==1||currentRole==2||currentRole==3' >
							<div class="ico">跟踪信息</div>
						
						</div>
					</li>
					<li>
						<div class="mod cancled" :data-orderid="currentOrderId" v-if='currentRole==0||currentRole==1' >
							<div class="ico">取消</div>
							
						</div>
					</li>
					<li>
						<div class="mod excuteresult" :data-orderid="currentOrderId" v-if='currentRole==0||currentRole==1||currentRole==2||currentRole==3||currentRole==4' >
							<div class="ico">执行信息</div>
						
						</div>
					</li>
					<li>
						<div class="mod mind" :data-orderid="currentOrderId" :data-tourId="currentOrderId" :data-photographerId="currentOrderId" v-if='currentRole==0||currentRole==4' >
							<div class="ico">心得</div>							
						</div>
					</li>

				</div>
			</div>
	
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/mui.picker.min.js"></script>
		<script src="../../js/framework/define.js"></script>
		<script src="../../js/framework/styles.js"></script>
		<script src="../../js/framework/lf.js"></script>
		<script src="../../libs/vue.min.js"></script>
		<script src="../../js/framework/common.js"></script>
		<script src="orderdetails.js"></script>
	</body>

</html>