<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../../css/order/search.css" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/app.css" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.picker.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.poppicker.css" />
		<style>
			.search-box ::placeholder {
				color: #fff;
			}
		</style>
		<script src="../../js/framework/common.js"></script>
	</head>

	<body>
		<div id="app" class="mui-content search">
		<header class="mui-bar mui-bar-nav search-header" style="display: flex; align-items: center;">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #fff;"></a>
			<!-- <span class="search-lien"></span> -->
			<div class="search-box mui-input-row  group-info">
				<span class="mui-icon mui-icon-search" style="color: #fff;"></span>
				<input type="text" v-model="searchText" style="color: #fff;" placeholder="请输入" class="mui-input-clear search-input"/>
			</div>
		</header>
		
			<div class="mui-input-group" style="margin-top: 50px;">
				<div class="search-order-detail">
					<div class="mui-input-row  group-info">
				        <label>订单状态</label>
						<input v-model="state.text"  type="text" class="order-state" readonly="readonly" />
						<span class="right-arrow mui-icon mui-icon-arrowright order-state"></span>
			    	</div>
			    	<div class="mui-input-row  group-info">
				        <label>订单开始日期</label>
						<input v-model="orderTimeBegin" type="text" class="order-date-begin" readonly="readonly" />
						<span class="order-date right-arrow mui-icon mui-icon-arrowright"></span>
			    	</div>
			    	<div class="mui-input-row  group-info">
				        <label>订单结束日期</label>
						<input v-model="orderTimeEnd" type="text" class="order-date-end" readonly="readonly" />
						<span class="order-date right-arrow mui-icon mui-icon-arrowright"></span>
			    	</div>
			    	<div class="mui-input-row  group-info">
				        <label>出团开始时间</label>
						<input v-model="startBeginTime" type="text" class="team-date-begin" readonly="readonly" />
						<span class="right-arrow team-out-date mui-icon mui-icon-arrowright"></span>
					</div>
					<div class="mui-input-row  group-info">
						<label>出团结束时间</label>
						<input v-model="startEndTime" type="text" class="team-date-end" readonly="readonly" />
						<span class="right-arrow team-out-date mui-icon mui-icon-arrowright"></span>
					</div>
				</div>
			</div>
			<div style="text-align: center;">
				<button id="search-btn" class="mui-btn search-btn">搜索</button>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/mui.pullToRefresh.js"></script>
		<script src="../../js/mui.pullToRefresh.material.js"></script>
		<script src="../../js/framework/define.js"></script>
		<script src="../../js/framework/styles.js"></script>
		<script src="../../js/framework/lf.js"></script>
		<script src="../../libs/vue.min.js"></script>
		<script src="./search.js"></script>
		<script src="../../js/mui.picker.min.js"></script>
	</body>

</html>
